
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      Wills, probate and inheritance: Applying for a grant of representation - GOV.UK
  </title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-d31395a9030b68584b0a191af4b68cb7bef1bb6024898c719fb61241f9e18d0e.js" crossorigin="anonymous" integrity="sha256-0xOVqQMLaFhLChka9LaMt77xu2AkiYxxn7YSQfnhjQ4="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-61407bb362be519bfdba50081b02beb2c57701e7b670e2d5f89ff1c7fb45e6c0.css" crossorigin="anonymous" integrity="sha256-YUB7s2K+UZv9ulAIGwK+ssV3Aee2cOLV+J/xx/tF5sA=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-7df6dd2fdc30d7d825d926890461da114fbc172807950398d3586816527497d4.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-23211a4c5d79699dfe7a613d2cc40fc29104b8cdd62f50469187ff8c2af31b97.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-32aaf6ff1b23283b97e69ab71512542794c4e1bb8ae5fa54a9f0be472680bc47.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-f855af1921221f4e58635e1434ad276d5d917c8e37f9828dcd3d893f7b707f23.css" crossorigin="anonymous" integrity="sha256-+FWvGSEiH05YY14UNK0nbV2RfI43+YKNzT2JP3twfyM=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-318793440d4771990c641e539948375c15091a50e9a21c4e9ba8092d0d3b5a9f.css" crossorigin="anonymous" integrity="sha256-MYeTRA1HcZkMZB5TmUg3XBUJGlDpohxOm6gJLQ07Wp8=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-e01b50a4e7ceb9a1256e4f3bcf40bff36507d2d2edd89985080a82eb1dd0031f.css" crossorigin="anonymous" integrity="sha256-4BtQpOfOuaElbk87z0C/82UH0tLt2JmFCAqC6x3QAx8=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="QN0N6koUu1wrjWX7GaMt7wAE4kjxXkvytP463Go7e/3CwZjtQe6hnJkLJ4NS9YiULmZC8Gg7GWDwx3yFwhdbMg==">
<meta name="govuk:format" content="guide">
<meta name="govuk:schema-name" content="guide">
<meta name="govuk:analytics:organisations" content="&lt;EA73&gt;&lt;D25&gt;&lt;D69&gt;">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="guidance">
<meta name="description" content="Sorting out a deceased person's affairs - get a grant of representation, become an executor, distribute an estate, and find out what to do if there's no will">
<meta name="govuk:content-id" content="c25b48e9-bdae-4870-845d-5a67c1189fe1">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-145bf3a3aa80167c3107c2f596231923c608cc19c70646872c13a618f1d09b9d.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-145bf3a3aa80167c3107c2f596231923c608cc19c70646872c13a618f1d09b9d.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-f49083a74c7a1a287f41fc866f967946f58a89e21bf19a6b64c42b7e108fcde2.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">


<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li>
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"3","dimension29":"Home"}' aria-current="false" href="/">Home</a>
    </li>

    <li>
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/births-deaths-marriages" data-track-options='{"dimension28":"3","dimension29":"Births, deaths, marriages and care"}' aria-current="false" href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a>
    </li>

    <li>
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/births-deaths-marriages/death" data-track-options='{"dimension28":"3","dimension29":"Death and bereavement"}' aria-current="false" href="/browse/births-deaths-marriages/death">Death and bereavement</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="guide" lang="en">
      <div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title

  pub-c-title--bottom-margin">
  <h1 class="pub-c-title__text ">
    Wills, probate and inheritance
  </h1>
</div>

      <aside class="part-navigation-container" role="complementary">
    <nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
    <ol class="column-half">
        <li>
          <a href="/gov-uk/1">Overview</a>
        </li>
        <li>
          <a href="/gov-uk/2">If the person left a will</a>
        </li>
        <li>
          <a href="/gov-uk/3">If the person didn't leave a will</a>
        </li>
        <li>
          <a href="/gov-uk/4">If you're an executor</a>
        </li>
        <li>
          <a href="/gov-uk/5">Applying for probate</a>
        </li>
    </ol>
    <ol class="column-half" start="6">
        <li>
          <a href="/gov-uk/6">Sending your documents</a>
        </li>
        <li>
          <a href="/gov-uk/7">Stopping a probate application</a>
        </li>
        <li>
          <a href="/gov-uk/8">After you've applied for probate</a>
        </li>
        <li>
          Searching for probate records
        </li>
    </ol>
</nav>

  </aside>

    <h1 class="part-title">
      9. Searching for probate records
    </h1>


<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>You can search for a probate record (for example a will or grant of probate) in England and Wales online or by post.</p>

<h2 id="search-online-for-a-probate-record">Search online for a probate record</h2>

<p><a href="/search-will-probate">Search online</a> for probate records for people who died in or after 1858.</p>

<p>You can order copies of probate records online. They cost £10 each - you can pay by debit or credit card.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>It can take up to 10 working days for you to receive your documents. Working days do not include weekends or public holidays.</p>
</div>

<p>A new probate record will appear online approximately 14 days after a grant of representation has been issued.</p>

<h2 id="search-for-a-probate-record-by-post">Search for a probate record by post</h2>

<p>Download and fill in form <a rel="external" href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=739">PA1S - Application for a search (copies of grants and wills).</a></p>

<p>It costs £10 for a search, which includes a copy of the grant of representation and the will (if there is one).</p>

<p>The address you need is on the form.</p>

<p>You should get a response within 4 weeks.</p>

<h3 id="get-a-standing-search-for-the-next-6-months">Get a ‘standing search’ for the next 6 months</h3>

<p>You can also apply for a 6 month ‘standing search’ if the death was in the last 6 months.</p>

<p>This means that if a grant of representation is issued in the next 6 months, you’ll receive a copy.</p>

<p>You can extend the standing search after 6 months.</p>

<h2 id="contact-the-london-probate-department">Contact the London Probate Department</h2>

<p>The will might be stored at the <a rel="external" href="https://courttribunalfinder.service.gov.uk/courts/london-probate-department">London Probate Department.</a></p>

<p>You must provide proof of the death and that you’re the executor named in the will. You might still be able to get the will if no executors were named.</p>

<h2 id="scotland-and-northern-ireland">Scotland and Northern Ireland</h2>

<p>There’s a different procedure in <a rel="external" href="http://www.nrscotland.gov.uk/research/guides/wills-and-testaments">Scotland</a> and <a rel="external" href="http://www.proni.gov.uk/">Northern Ireland.</a></p>

</div>


  <nav class="pub-c-pagination" role="navigation" aria-label="Pagination">
  <ul class="pub-c-pagination__list">
      <li class="pub-c-pagination__item pub-c-pagination__item--previous">
        <a href="/gov-uk/8" class="pub-c-pagination__link" rel="prev">
          <span class="pub-c-pagination__link-title">
            <svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewbox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            Previous
          </span>
            <span class="visually-hidden">:</span>
            <span class="pub-c-pagination__link-label">After you've applied for probate</span>
        </a>
      </li>
  </ul>
</nav>



<div class="app-c-print-link">
  <a href="/wills-probate-inheritance/print" class="app-c-print-link__link" rel="alternate">
    Print entire guide
  </a>
</div>


  </div>
    <div class="column-third add-title-margin">
    <aside class="govuk-related-items" data-module="track-click" role="complementary">
      <h2 data-track-count="sidebarRelatedItemSection">
        Death and bereavement
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/inheritance-tax" data-track-options='{"dimension28":"6","dimension29":"Inheritance Tax"}' href="/inheritance-tax">Inheritance Tax</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/make-will" data-track-options='{"dimension28":"6","dimension29":"Making a will"}' href="/make-will">Making a will</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/unclaimed-estates-bona-vacantia" data-track-options='{"dimension28":"6","dimension29":"Claim or refer an unclaimed estate"}' href="/unclaimed-estates-bona-vacantia">Claim or refer an unclaimed estate</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/valuing-estate-of-someone-who-died" data-track-options="{&quot;dimension28&quot;:&quot;6&quot;,&quot;dimension29&quot;:&quot;Valuing the estate of someone who's died&quot;}" href="/valuing-estate-of-someone-who-died">Valuing the estate of someone who's died</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.5" data-track-label="/after-a-death" data-track-options='{"dimension28":"6","dimension29":"What to do after someone dies"}' href="/after-a-death">What to do after someone dies</a>
            </li>
            <li class="related-items-more">
              <a data-track-category="relatedLinkClicked" data-track-action="1.6" data-track-label="/browse/births-deaths-marriages/death" data-track-options='{"dimension28":"6","dimension29":"More"}' href="/browse/births-deaths-marriages/death">
                More
                  <span class="visuallyhidden">
                    in
                    Death and bereavement
                  </span>
</a>            </li>
        </ul>
      </nav>
  </aside>

</div>

</div>

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/wills-probate-inheritance/searching-for-probate-records">

          <input id="source" name="source" type="hidden" value="">


          <input id="page_owner" name="page_owner" type="hidden" value="">


        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-d4ba5ab8f60c9df5c733e7d3c7c469ff93dc6b64d2b2a8feb94afa8f77c66193.js" crossorigin="anonymous" integrity="sha256-1LpauPYMnfXHM+fTx8Rp/5Pca2TSsqj+uUr6j3fGYZM="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-395e36e8b50840dbe9f754bd87c5098de66e33f81061d9452420dbdb9ee760f1.js" crossorigin="anonymous" integrity="sha256-OV426LUIQNvp91S9h8UJjeZuM/gQYdlFJCDb257nYPE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-9712c9fcafad3c718e93ea6040bc555037a9d4c17330121ee7d739b9fa5f4486.js" crossorigin="anonymous" integrity="sha256-lxLJ/K+tPHGOk+pgQLxVUDep1MFzMBIe59c5ufpfRIY="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-13fa50f3f9136ae5021974b12f83c0e6379bfd0f0053eacb213e8c4acd9ecaa0.js" crossorigin="anonymous" integrity="sha256-E/pQ8/kTauUCGXSxL4PA5jeb/Q8AU+rLIT6MSs2eyqA="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-1db71ac6ff85beadac70316a6638e70a739f5ef17825fe685cdecb1ead541963.js" crossorigin="anonymous" integrity="sha256-Hbcaxv+Fvq2scDFqZjjnCnOfXvF4Jf5oXN7LHq1UGWM="></script>
</body>
</html>
