<!-- help -->
<details class="help-panel" role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="summary">Contact us for help</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
        <p>You can call or email us if you&rsquo;re having problems with this service.</p>
        <p>Phone: 0300 303 0648 (Monday to Friday 9am to 5pm)</p>
        <p>Email: oxforddprenquiries@hmcts.gsi.gov.uk</p>
    </div>
</details>
<!-- end help -->