{% extends "question.html" %}

{% set question = "Executor names for lab testing" %}

{% block question %}
{{ question }}
{% endblock %}

{% block form %}

        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-large hidden"></h1>
            </legend>

            <div class="form-group">
                <label class="form-label-bold" for="labParticipantName">Lab participants name</label>
                <input class="form-control" id="" name="labParticipantName" value="">
            </div>        

            <div class="form-group">
                <label class="form-label-bold" for="leadLabApplicantName">Co-executors name</label>
                <input class="form-control" id="" name="leadLabApplicantName" value="">
            </div> 
          </fieldset>

        </div>

{% endblock %}

