{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Check [your] answers complete
        </h1>
<!--         <p class="font-large">
          Your reference number is <br>
          <strong class="bold">HDJ2123F</strong>
        </p> -->
      </div>

      <p>
        We have sent a confirmation emai to the lead applicant.
      </p>

      <h2 class="heading-medium">What happens next</h2>
      <p>We'll email you once all executors have agreed the answers. You'll then need to log in and declare and sign a statement of truth.</p>



    </div>
  </div>

</main>





{% endblock %}
