{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Thank you
        </h1>
<!--       <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">
          Thank you
        </h1>
        <p class="font-large">
          Your reference number is <br>
          <strong class="bold">HDJ2123F</strong>
        </p>
      </div> -->
      <h2 class="heading-medium">What happens next</h2>
      <p>Make sure that you and every other applicant has signed the will before sending it to the <a href="">probate registry</a>.</p>

        <p>If the will isn’t signed by all the applicants we won’t be able to process your application.</p>

      <p ><a href="/emails/everyone-has-declared-next-steps" style="color:white">Back to inbox</a></p>


    </div>
  </div>

</main>





{% endblock %}
