{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">You’ve made your legal declaration</h1>

      
    <p class="text">All executors applying for probate have made their legal declarations.</p>	

    <h2 class="heading-medium">What happens next</h2>

    <p>The person responsible for making this application will receive the grant of probate within 20 working days of the probate registry receiving all the necessary paperwork.</p>

    <p>Contact the executor who's responsible for this application if you need more information.</p>
    

      <div class="panel panel-border-wide">
     <p class="text">
        You'll need to sign a photocopy of the will if you haven't already.</p>
     </div>

    <p>This is a new service – <a href="#">your feedback will help us to improve it</a>.</p>

</div>

      


  

      <p ><a href="/emails/invitation" style="color:white">Back to inbox</a></p>
    </div>
  </div>

</main>





{% endblock %}
