 {% extends "layout_no_sign_out.html" %}

{% block page_title %}
Apply for probate
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/start-page">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <h1 class="form-title heading-large">Probate</h1>

        <p>Phone: 0300 303 0648</p>
        <p>Monday to Friday, 9am to 5pm</p>
        <p><a rel="external noopener" href="https://www.gov.uk/call-charges">Find out about call charges</a></p>




</main>


{% endblock %}