 {% extends "layout_no_sign_out.html" %}

{% block page_title %}
Apply for probate
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/start-page">feedback</a> will help us to improve it.</span>
        </p>
    </div>

<div class="grid-row">
<div class="column-two-thirds">
        <h1 class="form-title heading-large">Privacy policy</h1>
        <p>This privacy policy explains why we collect your personal data and what we do with it. It also explains your rights and how to enforce them.</p>

        <h2 class="heading-medium">Who manages this service</h2>
        <p>This service is managed by HM Courts and Tribunals Service (HMCTS), which is an executive agency of the Ministry of Justice (MoJ).</p>
        <p>The MoJ is known as the data controller for data protection purposes. The <a rel="external noopener" href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">MoJ personal information charter</a> explains how the MoJ processes personal data.</p>
        <p>As part of the MoJ, HMCTS is responsible for deciding how your personal data is used and for protecting the personal data you provide.</p>
        <p>More information about using this service is in the <a rel="noopener" href="/terms-conditions">terms and conditions</a>.</p>

        <h2 class="heading-medium">Why we collect your personal data</h2>
        <p>We collect your personal data to:</p>
        
<ul class="list list-bullet">
    
        <li>process your application</li>
    
        <li>meet legal requirements</li>
    
        <li>make improvements to this service</li>
    
</ul>

        <p>Our staff use your personal data to process your application. They work in the UK and your data is stored in the UK.</p>

        <h2 class="heading-medium">The personal data we collect</h2>
        <p>When you use the apply for probate service we ask for:</p>
        
<ul class="list list-bullet">
    
        <li>your name, and any other names you are known as</li>
    
        <li>your email address</li>
    
        <li>your phone number</li>
    
        <li>your address</li>
    
        <li>the names of any executors of the will</li>
    
        <li>contact details for all of the executors who are applying for probate</li>
    
</ul>


        <h2 class="heading-medium">Using your data</h2>
        <p>As part of your application you’ll be asked to use your email address to set up an account. You will be able to use this email address and password to sign into other HMCTS services.</p>
        <p>We may ask for your permission to use your email address to send you emails using GOV.UK Notify. This system processes emails only within the European Economic Area until the point where emails are handed over to the email provider you use.</p>
        <p>We use <a rel="noopener" href="/cookies">cookies</a> to collect data that tells us about how you’re using this service, including:</p>
        
<ul class="list list-bullet">
    
        <li>if you open an email from us or click on a link in an email</li>
    
        <li>your computer, phone or tablet’s IP address</li>
    
        <li>the region or town where you are using your computer, phone or tablet</li>
    
        <li>the web browser you use</li>
    
</ul>


        <h2 class="heading-medium">Storing your data</h2>
        <p>When you use this service you’ll be asked to use your email address to set up an account. You can use this email address and password to sign into other HMCTS services.</p>
        <h3 class="heading-small">Before you submit your information</h3>
        <p>Information you enter in the apply for probate service is saved until you decide to submit it. This allows you to save what you are doing and continue later. Saved information that you do not submit will be deleted after 90 days.</p>
        <h3 class="heading-small">After you submit your information</h3>
        <p>Information you enter in the apply for probate service will be stored for 50 years and then deleted. Wills and grants of probate can be accessed as public records. Grants of probate do not include email addresses and telephone numbers, but they do include addresses.</p>

        <h2 class="heading-medium">Sharing your data</h2>
        <p>While processing your application, another government department, agency or organisation might be involved and we may share your data with them.</p>
        <p>If you contact us and ask for help with a service you are using, your personal data may be shared with the <a rel="external noopener" href="https://www.goodthingsfoundation.org">Good Things Foundation</a>. This is a company who we have partnered with to offer face to face support.</p>
        <p>In some circumstances we may share your data. For example, to prevent or detect crime, or to produce anonymised statistics.</p>
        <p>We use Google Analytics to collect data about how a website is used. This anonymous data is shared with Google. Find out about this in our <a rel="noopener" href="/terms-conditions">terms and conditions</a>.</p>
        <h3 class="heading-small">Storing and sharing your data internationally</h3>
        <p>Sometimes we need to send your personal information outside of the UK. When we do this we comply with data protection law.</p>

        <h2 class="heading-medium">Your rights</h2>
        <p>You can ask:</p>
        
<ul class="list list-bullet">
    
        <li>to see the personal data that we hold on you</li>
    
        <li>to have the personal data corrected</li>
    
        <li>to have the personal data removed or deleted (this will depend on the circumstances, for example if you decide not to continue your application)</li>
    
        <li>that access to the personal data is restricted (for example, you can ask to have your data stored for longer and not automatically deleted)</li>
    
</ul>

        <p>If you want to see the personal data that we hold on you, you can:</p>
        
<ul class="list list-bullet">
    
        <li>complete a form to make a <a rel="external noopener" href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj">subject access request</a>. Your request goes to the MoJ as data controller.</li>
    
        <li>write to us: Disclosure Team, Post point 10.38, 102 Petty France, London, SW1H 9AJ</li>
    
</ul>

        <p>You can ask for more information about:</p>
        
<ul class="list list-bullet">
    
        <li>agreements we have on sharing information with other organisations</li>
    
        <li>when we are allowed to pass on personal information without telling you</li>
    
        <li>our instructions to staff on how to collect, use or delete your personal information</li>
    
        <li>how we check that the information we hold is accurate and up-to-date</li>
    
</ul>

        <p>You can contact the MoJ data protection officer, by:</p>
        
<ul class="list list-bullet">
    
        <li>writing to us: Post point 10.38, 102 Petty France, London, SW1H 9AJ</li>
    
        <li>emailing: data.compliance@justice.gov.uk</li>
    
</ul>


        <h2 class="heading-medium">How to complain</h2>
        <p>See our <a rel="external noopener" href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">complaints procedure</a> if you want to complain about how we’ve handled your personal data.</p>
        <p>Write to: Post point 10.38, 102 Petty France, London, SW1H 9AJ</p>
        <p>Email: data.compliance@justice.gov.uk</p>
        <p>You can also complain to the <a rel="external noopener" href="https://ico.org.uk/global/contact-us">Information Commissioner’s Office</a> if you’re not satisfied with our response or believe we are not processing your personal data lawfully.</p>
    </div>
</div>



</main>


{% endblock %}