{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Apply for probate - Unable to proceed
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a rel="external noopener" href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/stop-page/notOriginal">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <h1 class="form-title heading-large">Sorry, you can&rsquo;t use the online service</h1>

  <p>You need to have the original death certificate or an <a href="https://www.gov.uk/after-a-death/when-a-death-is-reported-to-a-coroner">interim death certificate</a> from the coroner to apply for probate. </p>

</main>

{% endblock %}
