{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Apply for probate - Unable to proceed
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a rel="external noopener" href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/stop-page/notOriginal">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <h1 class="form-title heading-large">Sorry, you can&rsquo;t use the online service yet</h1>

  <p class="text">You&rsquo;ll need to be in contact with the other applying executors while making your application for probate.</p>

  <p class="text">You&rsquo;ll also need their email addresses and mobile numbers so that they can sign in to legally declare that the information you&rsquo;ve given is correct.</p>

  <p class="text">Your progress has been saved. Once you&rsquo;ve contacted all the other applying executors, you can continue to use this service.</p>

</main>

{% endblock %}
