{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Apply for probate - Unable to proceed
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a rel="external noopener" href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/stop-page/notOriginal">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <h1 class="form-title heading-large">Sorry, you can&rsquo;t use the online service</h1>

  <p>You can&rsquo;t use the online service because you don&rsquo;t have the original will of the person who died.</p>

  <p><a rel="external noopener" href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=735">Please download the probate application form (PA1), print it out and fill it in.</a></p>

</main>

{% endblock %}
