{% extends "question_no_sign_out.html" %}

{% set question = "Did the person who died live permanently in England or Wales, or intend to return here?" %}

{% block question %}
    {{ question }}
{% endblock %}

{% block form %}

<p>You can only apply for probate online if the person who died was domiciled in England or Wales at the time of their death.</p>

<p>You can read more about <a rel="external noopener" href="https://www.gov.uk/inheritance-tax/when-someone-living-outside-the-uk-dies">domicile</a>.</p>

<div class="form-group">
    <fieldset class="inline">
        <legend class="visually-hidden">{{ question }}</legend>
        <div class="multiple-choice">
            <input id="radio-1" type="radio" name="domicile" value="Yes" {{ data['domicile'] | checkedIf('Yes') }}>
            <label for="radio-1">Yes</label>
        </div>
        <div class="multiple-choice">
            <input id="radio-2" type="radio" name="domicile" value="No" {{ data['domicile'] | checkedIf('No') }}>
            <label for="radio-2">No</label>
        </div>
    </fieldset>
</div>

{% endblock %}
