{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/start-page">feedback</a> will help us to improve it.</span>
  </p>
</div>


    <h1 class="form-title heading-large">[You are about to be screened]</h1>

    <p class="text">[Content]</p>

  

        <p><a href="/screening-questions/will-left" class="button">Continue</a></p>

        <p><a href="/login-firstperson">Return to an existing application</a>.
</p>


</main>


{% endblock %}
