{% from "widgets/fielderror.html" import fieldError %}

{% macro addressFinder(fields,content,step) %}
<div class="form-group {{ 'form-group-error' if fields.postcode.error }}">
    <label for="postcode">{{content.postcode}}</label>

    {{ fieldError(fields.postcode) }}

    <input type="text" class="form-control {{ 'form-control-error' if fields.postcode.error }} form-control-1-4" id="postcode" name="postcode" value="{{fields.postcode.value}}">
    <input type="hidden" id="referrer" name="referrer" value="{{step}}">
    <input type="submit" class="button-secondary" formaction="/find-address" name="findaddress" value="{{content.findAddress}}">
</div>

<input type="hidden" id="addressFound" name="addressFound" value="{{ fields.addressFound.value if fields.addressFound else 'none' }}">

{% if fields.addresses %}
<div class="form-group">
    <label for="postcodeAddress">{{content.addressLabel}}</label>
    <select id="postcodeAddress" class="form-control form-control-1-2" name="postcodeAddress" value="{{fields.address.value}}">
        <option value="">{{content.selectAddress}}</option>
        {% for address in fields.addresses.value %}
            {% set formattedAddress = address.formatted_address | replace("\n"," ") %}
            <option {{"selected" if formattedAddress === fields.address.value }}>{{formattedAddress}}</option>
        {% endfor %}
    </select>
</div>
{% endif %}
{% endmacro %}