{% from "widgets/fielderror.html" import fieldError %}

{% macro optionsRadio(content, name, field, options, legend, inline = false) %}


<fieldset class="form-group {{ 'form-group-error' if field.error }} {{'inline' if inline}}" id="{{name}}">
    <legend class="visually-hidden">{{legend | safe}}</legend>

    {{ fieldError(field) }}

    {% for option in options %}

    <div class="multiple-choice" data-target="{{name}}-{{loop.index}}-details">
        <input id="{{name}}-{{option}}" type="radio" name="{{name}}" value="{{content[option]}}" {{"checked='checked'" if field.value == content[option] | escape}}>
        <label for="{{name}}-{{option}}">{{content[option] | safe}}</label>
    </div>

    {% endfor %}
</fieldset>
{% endmacro %}


{% macro optionsRadioWithHint(content, name, field, options, legend, inline = false, hint) %}

<fieldset class="form-group {{ 'form-group-error' if field.error }} {{'inline' if inline}}" id="{{name}}">
    <legend class="visually-hidden">{{legend | safe}}</legend>
    <p class="form-hint">{{hint | safe}}</p>

    {{ fieldError(field) }}

    {% for option in options %}

    <div class="multiple-choice" data-target="{{name}}-{{loop.index}}-details">
        <input id="{{name}}-{{option}}" type="radio" name="{{name}}" value="{{content[option]}}" {{"checked='checked'" if field.value === content[option]}}>
        <label for="{{name}}-{{option}}">{{content[option] | safe}}</label>
    </div>

    {% endfor %}
</fieldset>
{% endmacro %}


{% macro optionsRadioWithLegend(content, name, field, options, legend, inline = false, hint) %}

<fieldset class="form-group {{ 'form-group-error' if field.error }} {{'inline' if inline}}" id="{{name}}">
    <legend class="heading-medium">{{legend | safe}}</legend>
    <p class="form-hint">{{hint | safe}}</p>

    {{ fieldError(field) }}

    {% for option in options %}

    <div class="multiple-choice" data-target="{{name}}-{{loop.index}}-details">
        <input id="{{option}}" type="radio" name="{{name}}" value="{{content[option]}}" {{"checked='checked'" if field.value == content[option] | escape}}>
        <label for="{{option}}">{{content[option] | safe}}</label>
    </div>

    {% endfor %}
</fieldset>
{% endmacro %}