{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/tasklist">feedback</a> will help us to improve it.</span>
  </p>
</div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">Apply for probate</h1>
            <p>Complete these steps to apply for probate.</p>
            <div class="form-group">
                <ol>
                    <li class="task-item">
    <span class="heading-medium">About the will</span>
    
        <span class="progress-status-tag">COMPLETED</span>
        <p>You have the original will and you are an executor.</p>
    
    

    
        
            <!-- Check your answers -->
            
                <p>Already declared</p>
            
        
    

     
</li>
                    <li class="task-item">
    <span class="heading-medium">About the executors</span>
    
        <span class="progress-status-tag">COMPLETED</span>
        <p>You have entered information which has been sent to the probate registry and declared to be truthful. You have also confirmed you will administer the estate according to law.</p>
    
    

    
        
            <!-- Check your answers -->
            
                <p>Already declared</p>
            
        
    

 
</li>
                    <li class="task-item">
    <span class="heading-medium">Review and confirm</span>
    
        <span class="progress-status-tag">COMPLETED</span>
        <p>You have reviewed and declared</p>
    
    

    
        
            <!-- Check your answers -->
            
                <p>Already declared</p>
            
        
    


</li>

                    <li class="task-item">
    <span class="heading-medium">Order extra copies of the grant of probate</span>
    
        <p>Extra copies are 50p each. You can also order copies to use outside the UK if the person who died had assets abroad</p>
    
    

    
        
            <!-- Start link -->
            <p><a href="/copies-uk" class="button button-start">Start</a></p>
        
    


</li>


                    <li class="task-item">
    <span class="heading-medium">Pay and submit</span>
    
        <p>The probate application fee is &pound;215.00 for estates valued at &pound;5,000 or over.</p>
        <p>There is no probate application fee for estates valued under &pound;5,000.</p>
    
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">You must complete the previous step before you can start this</p>
    


</li>


                    <li class="task-item">
    <span class="heading-medium">Send documents</span>
    
    <p>You need to send:</p>
    
<ul class="list list-bullet">
    
        <li>documents including the original will and death certificate (the death certificate must be the original or a certified copy)</li>
    
</ul>

    <p>We will check these supporting documents and issue your grant.</p>
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">You must complete the previous step before you can start this</p>
    

 
</li>
                </ol>
            </div>
        </div>
    </div>
</main>


{% endblock %}
