{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

    <main id="content" role="main">

        <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/thankyou">feedback</a> will help us to improve it.</span>
  </p>
</div>


        <h1 class="form-title heading-large">Check your answers</h1>

        
        <a href="/tasklist/about-the-executors">Tasklist</a>

    </main>




{% endblock %}
