{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

     
<main id="content" role="main">
    

    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">Beta</strong>
    <span>This is a new service – your <a aria-label="This link will open in a new tab. You&rsquo;ll need to return to this tab to continue with your application." href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/summary/*" target="_blank" rel="external noopener">feedback</a> will help us to improve it.</span>
  </p>
</div>

    

    <h1 class="heading-large">
        Check your answers
    </h1>
    <p>Check the information below carefully. This will form a record of your application for probate. It will also be stored as a public record, and will be able to be viewed online.</p>

    <table class="check-your-answers form-group">
        <tbody>
            <tr>
                <td colspan="3">
                    <span class="heading-medium">
                        The will
                    </span>
                </td>
            </tr>
            



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Did the person who died leave a will?</div>
            
            <div class="column-one-half">Yes</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/will-left">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Do you have the original will?</div>
            
            <div class="column-one-half">Yes</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/will-original">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Were any updates (&lsquo;codicils&rsquo;) made to the will?</div>
            
            <div class="column-one-half">No</div>
            
        </div>
    
    
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/will-codicils">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Do you have a death certificate?</div>
            
            <div class="column-one-half">Yes</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/death-certificate">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Are you named as an executor on the will?</div>
            
            <div class="column-one-half">Yes</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/applicant-executor">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Are all the executors able to make their own decisions?</div>
            
            <div class="column-one-half">Yes</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/mental-capacity">Change</a>
        
    </td>
</tr>




            <tr>
                <td colspan="3"><span class="heading-medium">Inheritance tax</span></td>
            </tr>
            



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Has an Inheritance Tax (IHT) form been filled in?</div>
            
            <div class="column-one-half">Yes</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/iht-completed">Change</a>
        
    </td>
</tr>







<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">How was the Inheritance Tax (IHT) form submitted?</div>
            
            <div class="column-one-half">Through the HMRC online service</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/iht-method">Change</a>
        
    </td>
</tr>
















<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Inheritance Tax identifier (IHT)</div>
            
            <div class="column-one-half">313123123123</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/iht-identifier">Change</a>
        
    </td>
</tr>







<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Gross value of the estate in &pound;</div>
            
            <div class="column-one-half">1121212</div>
            
        </div>
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Net value of the estate in &pound;</div>
            
            <div class="column-one-half">121</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/iht-value">Change</a>
        
    </td>
</tr>



            <tr>
                <td colspan="3"><span class="heading-medium">The executors</span></td>
            </tr>
            



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">How many past and present executors are named on the will and any updates (&lsquo;codicils&rsquo;)?</div>
            
            <div class="column-one-half">3</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executors-number">Change</a>
        
    </td>
</tr>







<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Are all the executors alive?</div>
            
            <div class="column-one-half">Yes</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executors-all-alive">Change</a>
        
    </td>
</tr>












    

    

    

<td colspan="3"><span class="heading-small">About you</span></td>




<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">First name(s)</div>
            
            <div class="column-one-half">Felicity</div>
            
        </div>
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Last name(s)</div>
            
            <div class="column-one-half">williams</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/applicant-name">Change</a>
        
    </td>
</tr>







    






<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Is your name &lsquo;Felicity williams&rsquo; exactly what appears on the will?</div>
            
            <div class="column-one-half">No</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/applicant-name-as-on-will">Change</a>
        
    </td>
</tr>

<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Name on will</div>
            
            <div class="column-one-half">[leadApplicantWillName]</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/applicant-name-as-on-will">Change</a>
        
    </td>
</tr>



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Reason for name change</div>
            
            <div class="column-one-half">Divorce</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-current-name/1">Change</a>
        
    </td>
</tr>




<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Phone number</div>
            
            <div class="column-one-half">07971656975</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/applicant-phone">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">What is your address?</div>
            
            <div class="column-one-half">5 George Peabody Street London E13 9DE</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/applicant-address">Change</a>
        
    </td>
</tr>





<td colspan="3"><span class="heading-small">Other executors applying for probate</span></td>




<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Will any of the other executors be dealing with the estate?</div>
            
            <div class="column-one-half">Yes</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/other-executors-applying">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Which executors will be dealing with the estate?</div>
            
            <div class="column-one-half">
                
                Jane Smith <br/>
                
                Johnnie Jones <br/>
                
            </div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executors-dealing-with-estate">Change</a>
        
    </td>
</tr>


<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Do any of these executors now have a different name to that on the will?</div>
            
            <div class="column-one-half">
                
                Yes <br/>
                
            </div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executors-dealing-with-estate">Change</a>
        
    </td>
</tr>



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Which executors have different names?</div>
            
            <div class="column-one-half">
                
                Jane Smith <br/>
                
                Johnnie Jones <br/>
                
            </div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executors-dealing-with-estate">Change</a>
        
    </td>
</tr>

    

    
    <td colspan="3"><span class="heading-small">Second executor applying for probate</span></td>
            





<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Name on will</div>
            
            <div class="column-one-half">Jane Smith</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-current-name/1">Change</a>
        
    </td>
</tr>
        


<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Current name</div>
            
            <div class="column-one-half">Jane Smith-Jones</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-current-name/1">Change</a>
        
    </td>
</tr>



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Reason for name change</div>
            
            <div class="column-one-half">Marriage</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-current-name/1">Change</a>
        
    </td>
</tr>

        



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Address</div>
            
            <div class="column-one-half">1 George Peabody Street London E13 9DE</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-address/1">Change</a>
        
    </td>
</tr>





        



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Mobile number</div>
            
            <div class="column-one-half">07971123456</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-contact-details/1">Change</a>
        
    </td>
</tr>





        



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Email address</div>
            
            <div class="column-one-half">janesmith@email.com</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-contact-details/1">Change</a>
        
    </td>
</tr>



    

    
    <td colspan="3"><span class="heading-small">Third executor applying for probate</span></td>
            



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Name on will</div>
            
            <div class="column-one-half">Johnnie Jones</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executors-names">Change</a>
        
    </td>
</tr>




        



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Current name</div>
            
            <div class="column-one-half">John Jones</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-current-name/2">Change</a>
        
    </td>
</tr>



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Reason for name change</div>
            
            <div class="column-one-half">Other: "Common use"</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-current-name/1">Change</a>
        
    </td>
</tr>

        



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Address</div>
            
            <div class="column-one-half">5 George Peabody Street London E13 9DE</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-address/2">Change</a>
        
    </td>
</tr>





        



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Mobile number</div>
            
            <div class="column-one-half">07971656975</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-contact-details/2">Change</a>
        
    </td>
</tr>





        



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Email address</div>
            
            <div class="column-one-half">smithie@email.com</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/executor-contact-details/2">Change</a>
        
    </td>
</tr>



    




            <tr>
                <td colspan="3"><span class="heading-medium">About the person who died</span></td>
            </tr>
            



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">First name(s)</div>
            
            <div class="column-one-half">Arthur</div>
            
        </div>
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Last name(s)</div>
            
            <div class="column-one-half">williams</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-name">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Did Arthur williams have assets in another name?</div>
            
            <div class="column-one-half">Yes</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-alias">Change</a>
        
    </td>
</tr>





<tr>
    <td colspan="2">
        <div class="grid-row">
            <div class="column-one-half">Names used by the deceased</div>
            <div class="column-one-half">
            
                <div class="grid-row">
                    <div class="column-one-half">arthuri williams</div>
                </div>
            
            </div>
        </div>
    </td>
    <td class="change-answer">
        
        <a href="/other-names">Change</a>
        
    </td>
</tr>






<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Did Arthur williams get married or enter into a civil partnership after the will was signed?</div>
            
            <div class="column-one-half">No</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-married">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">What was the date that they died?</div>
            
            <div class="column-one-half">30 June 2016</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-dod">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">What was their date of birth?</div>
            
            <div class="column-one-half">31 March 1945</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-dob">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">At the time of their death did the person who died:</div>
            
            <div class="column-one-half">live (domicile) permanently in England or Wales</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-domicile">Change</a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">What was the permanent address at the time of their death?</div>
            
            <div class="column-one-half">1 George Peabody Street London E13 9DE</div>
            
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-address">Change</a>
        
    </td>
</tr>



        </tbody>
    </table>

    <div class="form-group">
        
        <p><a href="/summary/redirect" class="button">Save and continue</a></p>
        
    </div>
</main>

    


{% endblock %}
