{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

     
<main id="content" role="main">
    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">Beta</strong>
    <span>This is a new service – your <a aria-label="This link will open in a new tab. You’ll need to return to this tab to continue with your application." href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/documents" target="_blank" rel="external noopener">feedback</a> will help us to improve it.</span>
  </p>
</div>


    <div class="grid-row">
        <div class="column-two-thirds">
            
                
            
            
    <h1 class="form-title heading-large">Documents</h1>


            <form class="form" method="post" action="https://probate-frontend-demo-staging.service.core-compute-demo.internal/documents" novalidate="">
                <input type="hidden" name="_csrf" value="oKpmulcN-8D1PkoyhScJQZEdSuInZOauSzcg">
                

    <p>You can print out this page if you’d like to use it as a checklist.</p>

    <h2 class="heading-medium">Prepare to send your documents</h2>

    <h3 class="heading-small">1. What you need to sign</h3>

    
<ul class="list list-bullet">
    
        <li>the original will – you must sign the first page in the top right corner, but not make any other changes to the will</li>
    
</ul>


    

    <h3 class="heading-small">2. Other documents</h3>

    
<ul class="list list-bullet">
    
        <li>2 photocopies of the will that you’ve signed – these photocopies must be on plain A4 paper</li>
    
        <li>the death certificate – this will be returned to you</li>
    
</ul>


    <p>You’ll also need to include a cover letter if the will has been changed in any way since you got given it. This includes it being damaged or separated for photocopying. The letter should explain what’s been changed and why.</p>

    <div class="panel panel-border-wide">
        <strong class="text">The grant of probate won’t be issued if you don’t have all the necessary documents and signatures.</strong>
    </div>

    <h2 class="heading-medium">Send your documents to the probate registry</h2>

    <p>You should send your documents using a signed-for postal service to:</p>

    <p>Digital Application<br>
Birmingham Probate Registry<br>
The Priory Courts<br>
33 Bull Street<br>
Birmingham<br>
West Midlands<br>
B4 6DU<br>
</p>

    
<fieldset class="form-group ">
    <legend class="visually-hidden">Documents</legend>

    
    

    <div class="multiple-choice">
        <input id="sentDocuments" type="checkbox" name="sentDocuments" value="true">
        <label for="sentDocuments">I understand that I need to sign the will before sending my documents</label>
    </div>

</fieldset>


    <div class="form-group">
        <input id="button" class="button" type="submit" role="button" value="Save and continue">
    </div>

            </form>
            <a href="https://probate-frontend-demo-staging.service.core-compute-demo.internal/sign-out">Save and close</a>
            
        </div>
    </div>
</main>
    


{% endblock %}
