{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

    <main id="content" role="main">

        <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/documents">feedback</a> will help us to improve it.</span>
  </p>
</div>


        <h1 class="form-title heading-large">Documents</h1>

           <p>You can print out this page if you'd like to use it as a checklist.</p>

        <form class="form" method="post" action="thank-you">
            <input type="hidden" name="_csrf" value="">

            <h2 class="heading-medium">Prepare to send your documents</h2>




         <p>The grant of probate won't be issued if you don't have all the necessary documents and signatures. </p>

            <h3 class="heading-small">1. What you need to sign</h3>




            <ul class="list list-bullet text">

                <li>the original will - you must sign the first page in the top right corner, but not make any other changes to the will</li>

                <li>any updates (‘codicils’) - you must sign the front of each codicil in the top right corner, but not make any other changes to the codicils</li></ul>

 <h3 class="heading-small">2. What the other applying executors need to sign</h3>

 <ul class="list list-bullet text">


                <li>a  photocopy of the will - they must all sign the same photocopy on the first page in the top right corner</li>

                <li>photocopies of any updates ('codicils') - they must all sign the first page of each photocopy in the top right corner</li></ul>


<h3 class="heading-small">3. Other documents</h3>

<ul class="list list-bullet text">

  <li>2 photocopies of the will and any updates ('codicils') that you’ve signed – these photocopies must be on plain A4 paper</li>


                <li>the death certificate – this will be returned to you</li>



                {% if data['iht_form'] ==='205' %}
                    <li>the completed inheritance tax form IHT 205 (if you printed off and filled in a paper form)</li>
                {% endif %}

                {% if data['iht_form'] ==='420' %}
                    <li>the stamped IHT 421 form – if you have not yet received this from HMRC please let us know in the cover letter and you can forward it at a later date. Please note that we will not be able to issue the grant until we receive the stamped IHT 421 form</li>
                {% endif %}

                {% if renunc === true %}
                    <li>{{data['hello']}} a renunciation form filled in and signed by any executors that don’t want to apply now, and give up their right to do so in the future</li>
                {% endif %}
            </ul>

            <p class="text">You’ll also need to include a cover letter if the will or codicils have been changed in any way since you got given them. This includes them being damaged or separated for photocopying. The letter should explain what’s been changed and why.</p>

             <div class="panel panel-border-wide">
              <!-- <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
              </i> -->
              <strong class="text">
                The will and codicils won’t be returned to you – they'll be kept and stored as a public record.
              </strong>
            </div>




<!--             <p><a rel="external" target="_blank" href="https://www-test.probate.reform.hmcts.net/public/renunciation.pdf">Download a copy of the renunciation form</a></p> -->

<!-- from divorce proto -->

<!--             <div class="notice">
              <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
              </i>
              <strong class="bold-small text">
                The grant of probate will not be issued if you don't have all the necessary signatures.
              </strong>
            </div> -->

            <h2 class="heading-medium">Send your documents to the probate registry</h2>


            <!-- <div class="inline" style="padding-bottom: 40px;">
          <a href="public/images/document-list.pdf" target="_blank"><i class="icon icon-file-download"></i>
          <span style="padding-left:10px;">Download your document checklist</span></a>
        </div>   -->

            <p class="text">You should send your documents using a signed-for postal service to:</p>
            <div >
                        <p>Digital Application<br /> Oxford District Probate Registry <br />Combined Court Building <br />St Aldates <br />Oxford<br/>OX1 1LY</p>
            </div>


<div class="form-group">
<fieldset>

    <legend class="visually-hidden">I understand that I need to sign the back of the will (and any codicils) before sending my documents</legend>

 <div class="multiple-choice">
    <input id="sentDocuments" name="sentDocuments" type="checkbox" value="true">

    <label for="sentDocuments">I understand that I need to sign the will and codicils before sending my documents
    </label>
 </div>

</fieldset>
</div>




            <!-- <h2 class="heading-medium">What happens next</h2>
        <div class="text">
            <p>Your application will continue to be processed as soon as the Probate Registry receives your documents.</p>

            <p>Once the documents have been received, you should receive your grant of probate within 20 days. You'll also be sent a copy of the grant, plus any additional copies you've ordered.</p>

            <p>We’ll email you if we need any more information. You can also call the Probate Registry on 0300 303 0648 if you have any questions.</p>

            <p><a href="http://www.smartsurvey.co.uk/s/A2LY8/">This is a new service – your feedback will help us to improve it.</a></p> -->
            <!-- You should: -->


<!-- <ul class="list list-bullet">

        <li>send your documents by registered post as soon as possible</li>

        <li>keep copies of all documents</li>

</ul>


            <h2 class="heading-medium">Receiving your grant of probate</h2>

            <p>You should receive your grant of probate and a copy, plus any extra copies you&rsquo;ve ordered, within 20 days of us receiving your documents.</p>

            <p>We&rsquo;ll email you if we need you provide any more information. Call us on 0300 303 0648 if you have any questions.</p>


        <a href="http://www.smartsurvey.co.uk/s/A2LY8/">This is a new service – your feedback will help us to improve it.</a> -->
      </div>
</div>

            <!-- You should:


<ul class="list list-bullet">

        <li>use registered post</li>

        <li>keep copies of all documents</li>

</ul> -->


           <!--  <h2 class="heading-small">Documents you need to send</h2>

            You need to send the Probate Registry:


            <ul class="list list-bullet text">

                <li>the original will and any codicils – you must sign the front of the will and the front of each codicil</li>

                <li>2 photocopies of the original will and codicils – these must be on plain A4 paper</li>

                <li>a cover letter - including information on anything you've attached to or removed from the will and codicils (for example, if you removed a staple to photocopy it)</li>

                <li>photocopies of the will and any codicils, which have been signed on the front by every executor who's applying for probate – these photocopies must be on plain A4 paper</li>

                <li>the death certificate – this will be returned to you</li>

                {% if data['iht_form'] ==='205' %}
                    <li>the completed inheritance tax form IHT 205 (if you printed off and filled in a paper form)</li>
                {% endif %}

                {% if data['iht_form'] ==='420' %}
                    <li>the stamped IHT 421 form – if you have not yet received this from HMRC please let us know in the cover letter and you can forward it at a later date. Please note that we will not be able to issue the grant until we receive the stamped IHT 421 form</li>
                {% endif %}

                {% if renunc === true %}
                    <li>{{data['hello']}} a renunciation form filled in and signed by any executors that don’t want to apply now, and give up their right to do so in the future</li>
                {% endif %}
            </ul>


<!--             <p><a rel="external" target="_blank" href="https://www-test.probate.reform.hmcts.net/public/renunciation.pdf">Download a copy of the renunciation form</a></p> -->

<!-- from divorce proto -->



            <!-- <h2 class="heading-medium">Where to send your documents:</h2>

            <br />
            <p class="text">Your documents should be sent by registered post to:</p>
            <div class="panel">
                        <p>Digital Application,<br /> Oxford District Probate Registry, <br />Combined Court Building, <br />St Aldates, <br />Oxford OX1 1LY</p>
            </div> -->


<div class="form-group">
<fieldset>

    <legend class="visually-hidden">I understand that I need to sign the back of the will (and any codicils) before sending my documents</legend>

<!--  <div class="multiple-choice">
    <input id="sentDocuments" name="sentDocuments" type="checkbox" value="true">

    <label for="sentDocuments">I understand that I need to sign the back of the will (and any codicils) before sending my documents
    </label>
 </div>   -->

</fieldset>
</div>
        <!-- <div class="inline" style="padding-bottom: 40px;">
          <a href="#"><i class="icon icon-file-download"></i>
          <span style="padding-left:10px;">Download your document checklist</span></a>
        </div>   -->



<!-- <div class="column-two-thirds">
            <h2 class="heading-medium">Print or download to review</h2>
            <p>The printed version includes a space for the executor to sign and date for your records if you need it.</p>
            <br>
            <p><a href="/public/files/ls_declaration-a4-print_v1.pdf" class="button button-secondary" target="_new"><img src="/public/images/icon-file-download-2x.png"></a></p>
            <p><a href="/public/files/ls_declaration-a4-print_v1.pdf">Preview</a></p>
        </div> -->

            <div class="form-group">
                <input id="button" class="button" type="submit" role="button" value="Save and continue">
            </div>
        </form>

    </main>


{% endblock %}
