 {% extends "layout_no_sign_out.html" %}

{% block page_title %}
Apply for probate
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/start-page">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <h1 class="form-title heading-large">Sorry, this service is temporarily unavailable</h1>

    <p class="text">You can’t start a new online application for probate at the moment. </p> 
    <p class="text">This is a new service and we’re limiting the number of applications we can accept each day. Please try again from 9am tomorrow.</p>

    
    <h2 class="form-title heading-medium">If you have started an online application for probate</h1>

    <p class="text">Your information will be saved in your account. </p>
    <p class="text">You will be able to sign in and complete your application when the service is available. </p>

    <h2 class="form-title heading-medium">You can also apply by post</h1>

    <p class="text">You can download and complete the <a href="https://www.apply-for-probate.service.gov.uk/public/pdf/probate-application-form-pa1p.pdf">paper application form (PA1P)</a> if you don't want to wait.  
    <p class="text">See <a href="https://www.apply-for-probate.service.gov.uk/public/pdf/probate-guidance-pa2sot.pdf">guidance</a> on completing the form and find out where to <a href="https://www.apply-for-probate.service.gov.uk/public/pdf/probate-registries-pa4sot.pdf">send your completed application</a>.</p>

    <h2 class="form-title heading-medium">Contact us</h1>
    <p class="text">If you need help with an online application you have started, email <a href="mailto:OnlineApplications@justice.gov.uk">OnlineApplications@justice.gov.uk</a>. 
    



    <!-- <p><a href="start-page-2" class="button">Continue</a></p> --> 


</main> 


{% endblock %}