
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>
Apply for probate
</title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="/public/stylesheets/govuk-template.css?0.23.0"/><!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="/public/stylesheets/govuk-template-ie6.css?0.23.0"/><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="/public/stylesheets/govuk-template-ie7.css?0.23.0"/><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="/public/stylesheets/govuk-template-ie8.css?0.23.0"/><![endif]-->
    <link rel="stylesheet" media="print" href="/public/stylesheets/govuk-template-print.css?0.23.0"/>

    <!--[if IE 8]><link rel="stylesheet" media="all" href="/public/stylesheets/fonts-ie8.css?0.23.0"/><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="/public/stylesheets/fonts.css?0.23.0"/><!--<![endif]-->
    <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.23.0"></script><![endif]-->

    <link rel="shortcut icon" href="/public/images/favicon.ico?0.23.0" type="image/x-icon" />

    <link rel="mask-icon" href="/public/images/gov.uk_logotype_crown.svg?0.23.0" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon-180x180.png?0.23.0">
    <link rel="apple-touch-icon" sizes="167x167" href="/public/images/apple-touch-icon-167x167.png?0.23.0">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/images/apple-touch-icon-152x152.png?0.23.0">
    <link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png?0.23.0">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/public/images/opengraph-image.png?0.23.0">


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />


  </head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">


  <p>GOV.UK uses cookies to make the site simpler. <a href="http://gov.uk/help/cookies" title="Find out more about cookies">Find out more about cookies</a></p>


    </div>


    <header role="banner" id="global-header" class="
  with-proposition
">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="/public/images/gov.uk_logotype_crown_invert_trans.png?0.23.0" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>

        </div>

  <div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="/" id="proposition-name"> Apply for Probate </a>
    </nav>
  </div>
</div>


      </div>
    </header>




    <div id="global-header-bar"></div>





<main id="content" role="main">
    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/tasklist">feedback</a> will help us to improve it.</span>
  </p>
</div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">Apply for probate</h1>
            <p>Complete these steps to apply for probate.</p>
            <div class="form-group">
                <ol>
                    <li class="task-item">
    <span class="heading-medium">About the will and inheritance tax</span>

        <p>To complete this section you need:</p>

<ul class="list list-bullet">

        <li>the will</li>

        <li>updates to the will (‘codicils’) if there are any</li>

        <li>the IHT inheritance tax form</li>

</ul>






            <!-- Start link -->
            <p><a href="/will-left" class="button button-start">Start</a></p>




</li>
                    <li class="task-item">
    <span class="heading-medium">About the executors and the person who has died</span>

        <p>To complete this section you need:</p>

<ul class="list list-bullet">

        <li>the will</li>

        <li>updates to the will (&lsquo;codicils&rsquo;) if there are any</li>

        <li>death certificate</li>

        <!-- <li>inheritance tax form</li> --></ul>

        <p>If there's more than one executor applying for probate you need:</p>

    <ul class="list list-bullet">
      <li>the mobile number and email address of everyone who's applying</li>
   <li>to have discussed the application you're making with everyone who's applying</li>


</ul>

<!--         <div class="notice">
            <em class="icon icon-important"><span class="visually-hidden">Warning</span></em>
            <p>You must declare the information is correct</p>
        </div> -->




        <!-- Previous steps need completing text -->
        <p class="task-unavailable">You must complete the previous step before you can start this</p>



</li>
                    <li class="task-item">
    <span class="heading-medium">Review and confirm</span>

        <p>Please review the information entered</p>




        <!-- Previous steps need completing text -->
        <p class="task-unavailable">You must complete the previous step before you can start this</p>



</li>

                    <li class="task-item">
    <span class="heading-medium">Order extra copies of the grant of probate</span>

        <p>Extra copies are 50p each. You can also order copies to use outside the UK if the person who died had assets abroad</p>




        <!-- Previous steps need completing text -->
        <p class="task-unavailable">You must complete the previous step before you can start this</p>



</li>


                    <li class="task-item">
    <span class="heading-medium">Pay and submit</span>

        <p>The probate application fee is &pound;215.00 for estates valued at &pound;5,000 or over.</p>
        <p>There is no probate application fee for estates valued under &pound;5,000.</p>




        <!-- Previous steps need completing text -->
        <p class="task-unavailable">You must complete the previous step before you can start this</p>



</li>


                    <li class="task-item">
    <span class="heading-medium">Send documents</span>

    <p>You need to send:</p>

<ul class="list list-bullet">

        <li>documents including the original will and death certificate (the death certificate must be the original or a certified copy)</li>

</ul>

    <p>We will check these supporting documents and issue your grant.</p>



        <!-- Previous steps need completing text -->
        <p class="task-unavailable">You must complete the previous step before you can start this</p>



</li>
                </ol>
            </div>
        </div>
    </div>
</main>



    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">

  <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="http://gov.uk/help/cookies">Cookies</a></li>
  <li><a href="/terms-conditions">Terms and conditions</a></li>
</ul>


            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/public/javascripts/govuk-template.js?0.23.0"></script>


  <script src="/public/javascripts/jquery-1.11.3.js"></script>

<!-- govuk_frontend_toolkit js -->
<script src="/public/javascripts/vendor/polyfills/bind.js"></script>
<script src="/public/javascripts/govuk/details.polyfill.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>

<script src="/public/javascripts/application.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93598808-1', 'auto');
  ga('send', 'pageview');
</script>

  <!-- GOV.UK Prototype kit v0.0.1 -->



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>

