{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">Apply for probate</h1>
            <p>To complete all the steps in your application you’ll need:</p>

<ul class="list list-bullet">
    <li>the will and any updates to it ('codicils')</li>
 <li>the death certificate</li>
 <li>information from the IHT form</li>
 <li>to know which executors are applying for probate and their contact details</li></ul>

<p>Once you’ve completed all the steps you should receive your grant of probate within 20 days.</p>
            <div class="form-group">
                <ol>
                    <li class="task-item">
    <span class="heading-medium">1. About the will</span>
    
        <p> </p>
    
    

    
        
            <!-- Start link -->
            <p><a href="../screening-questions/will-left" class="button button-start">Start</a></p>
        
    

     
</li>

   <li class="task-item">
    <span class="heading-medium">2. About the person who died</span>
    
        <p> </p>
    
        
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
        
    

 
</li>
                    <li class="task-item">
    <span class="heading-medium">3. About the executors</span>
    
        <p> </p>
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
    

 
</li>
                    <li class="task-item">
    <span class="heading-medium">4. Review and confirm</span>
    
        <p>    </p>
    
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
    


</li>

                    <li class="task-item">
    <span class="heading-medium">5. Order extra copies of the grant of probate</span>
    
        <p> </p>
    
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
    


</li>


                    <li class="task-item">
    <span class="heading-medium">6. Pay and submit</span>
    
        </p>
        </p>
    
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
    


</li>


                    <li class="task-item">
    <span class="heading-medium">7. Send documents</span>
    

    
<p> </p>
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
    

 
</li>
                </ol>
            </div>
        </div>
    </div>
</main>

{% endblock %}
