{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">Apply for probate</h1>
            

<p>Once you’ve completed all these steps you should receive your grant of probate within 20 days.</p>
            <div class="form-group">
                <ol>
                    <li class="task-item">
    <span class="heading-medium">1. The will and any updates to it</span>
    
    
    
    

    
        
            <!-- Start link -->
            <p><a href="../screening-questions/will-left" class="button button-start">Start</a></p>
        
    

     
</li>

   <li class="task-item">
    <span class="heading-medium">2. The person who died, their estate and inheritance tax</span>
    
    
        
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
        
    

 
</li>
                    <li class="task-item">
    <span class="heading-medium">3. Which executors are applying for probate and which aren't</span>
    

    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
    

 
</li>
                    <li class="task-item">
    <span class="heading-medium">4. Review and confirm</span>
    
        <p>Please review the information entered</p>
    
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
    


</li>

                    <li class="task-item">
    <span class="heading-medium">5. Order extra copies of the grant of probate</span>
    
        <p>Extra copies are 50p each. You can also order copies to use outside the UK if the person who died had assets abroad</p>
    
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
    


</li>


                    <li class="task-item">
    <span class="heading-medium">6. Pay and submit</span>
    
        <p>The probate application fee is &pound;215.00 for estates valued at &pound;5,000 or over.</p>
        <p>There is no probate application fee for estates valued under &pound;5,000.</p>
    
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
    


</li>


                    <li class="task-item">
    <span class="heading-medium">7. Send documents</span>
    
    <p>You need to send:</p>
    
<ul class="list list-bullet">
    
        <li>documents including the original will and death certificate (the death certificate must be the original or a certified copy)</li>
    
</ul>

    <p>We will check these supporting documents and issue your grant of probate.</p>
    

    
        <!-- Previous steps need completing text -->
        <p class="task-unavailable">The previous step must be complete before you can start this.</p>
    

 
</li>
                </ol>
            </div>
        </div>
    </div>
</main>

{% endblock %}
