{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/tasklist">feedback</a> will help us to improve it.</span>
  </p>
</div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">Apply for probate</h1>
            <p>Complete these steps to apply for probate.</p>
            <div class="form-group">
                <ol>
                    <li class="task-item">
    <span class="heading-medium">1. About the will</span>
    
        <span class="progress-status-tag">Completed</span>
        <!-- <p>You have the original will, any updates to the will (‘codicils’) and you are an executor.</p>
 -->    
    

    
        
            <!-- Check your answers -->
            
                <!-- <p>Already declared</p> -->
            
        
    

     
</li>

<li class="task-item">
    <span class="heading-medium">2. About the person who died</span>
    
        <span class="progress-status-tag">Completed</span>

    

    
        
            <!-- Check your answers -->
            
               <!--  <p><a href="/summary/deceased">Check and change your answers</a></p> -->
               <!-- <p>Already declared</p> -->
            
        
    

     
</li>
                    <li class="task-item">
    <span class="heading-medium">3. About the executors</span>
    
        <span class="progress-status-tag">Completed</span>
        <!-- <p>You have entered information which has been sent to the probate registry and declared to be truthful. You have also confirmed you will administer the estate according to law.</p> -->
    
    

    
        
            <!-- Check your answers -->
            
                <!-- <p><a href="/summary/executors">Check and change your answers</a></p>
 -->            <!-- <p>Already declared</p> -->
        
    

 
</li>
                    <li class="task-item">
    <span class="heading-medium">4. Check your answers and make your legal declaration</span>
    
        <span class="progress-status-tag">Completed</span>
        <!-- <p>You have reviewed and declared</p> -->
    
    

    
        
            <!-- Check your answers -->
            
               <!--  <p>Already declared</p> -->
            
        
    


</li>

                    <li class="task-item">
    <span class="heading-medium">5. Order extra copies of the grant of probate</span>
    
        <span class="progress-status-tag">Completed</span>
    
    

    
        
            <!-- Check your answers -->
            
                <!-- <p>Already declared</p> -->
            
        
    


</li>


                    <li class="task-item">
    <span class="heading-medium">6. Pay and submit</span>

            <span class="progress-status-tag">Completed</span>

    
                <!-- <p>Already declared</p>  -->       
    


</li>


                    <li class="task-item">
    <span class="heading-medium">7. Send documents</span>
    
    <p>You need to send the documents, including the original will and death certificate (the death certificate must be the original or a certified copy)</p>
    


    <p>These supporting documents will be checked before your grant of probate is issued.</p>
    

    
            <!-- Start link -->
            <p><a href="/redeclare/documents" class="button button-start">Start</a></p>

 
</li>
                </ol>
            </div>
        </div>
    </div>
            {% include "includes/help.html" %}
</main>

{% endblock %}
