{% extends "layout.html" %}

{% block page_title %}
Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/tasklist">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">Apply for probate</h1>
            <p>Complete these steps to get the legal right to deal with the property and belongings of someone who has died.</p>
            <p>You can save your application and return to it later if you need to.</p>
            <div class="form-group">
                <ol>

                <li class="task-item">
                    <span class="heading-medium"><span class="task-list-section-number">1. </span>About the person who died</span>
                    <span class="progress-status-tag">Completed</span>
                    <p class="text-in-tasklist"><a href="/summary/the-person-who-died">Check and change your answers</a></p>
                </li>

                <li class="task-item">
                    <span class="heading-medium"><span class="task-list-section-number">2. </span>About the executors</span>
                    <span class="progress-status-tag">Completed</span>     
                    <p class="text-in-tasklist"><a href="/summary/the-executors">Check and change your answers</a></p>
                </li>

                <li class="task-item">
                    <span class="heading-medium"><span class="task-list-section-number">3. </span>Review and confirm</span>
                    
                        <p class="text-in-tasklist">You can’t continue with this application until all the executors have made their legal declaration. They have received an email with a link to do this.</p>  

                       

                 <!--<div class="panel panel-border-wide">
                            <p>You can't continue with this application until all the executors who are applying for probate have made their declarations. </p>    </div> -->


                <p class="text-in-tasklist">If you need to change your answers, the other executors will receive an email with a link to the updated legal declaration.</p>

                <!-- <p>They'll be able to agree any updated legal declarations using the link they've already been sent.</p>



                 =======
                                        <span class="heading-medium">1. About the will</span>
                >>>>>>> 4ac52dbfff95520c7bfef4451d17cd1a8a36c6a2

                                        <span class="progress-status-tag">Completed</span> -->
                                        <!--  <p>You have the original will, any updates to the will (‘codicils’) and you are an executor.</p> -->
                                        <!-- Check your answers -->
                <!--                         <p><a href="/summary/screening-questions">Check and change your answers</a></p>
                                    </li>

                                    <li class="task-item">
                                        <span class="heading-medium">2. About the person who died</span>

                                        <span class="progress-status-tag">Completed</span> -->
                                        <!-- <p>You’ve entered information about the person who died and their estate.</p> -->
                                        <!-- Check your answers -->
                <!--                         <p><a href="/summary/the-person-who-died">Check and change your answers</a></p>
                 -->
                <!-- 
                                    </li>
                                    <li class="task-item">
                                        <span class="heading-medium">3. About the executors</span>
                                        <span class="progress-status-tag">Completed</span> -->
                                        <!-- <p>You’ve entered information about all the executors and told us which ones are applying for probate.</p> -->
                                        <!-- Check your answers -->
                <!--                         <p><a href="/summary/the-executors">Check and change your answers</a></p>
                                    </li> -->
                <!--                     <li class="task-item">
                                        <span class="heading-medium">4. Review and confirm</span>

                                        <p>The other executors who are applying for probate need to make their legal declarations
                                            using a link that's been emailed to each of them. You should ask them to tell you when they've
                                            done this.</p>

                                        <div class="panel panel-border-wide">
                                            <p>You can't continue with this application until all the executors who are applying for
                                                probate have made their declarations. </p></div>

                                        <p>You can change the answers you've given if the other applying executors don't agree with all of the information.</p>
                                        <p>They'll be able to review and agree the updated declaration using the link they've
                                            already been sent.</p> -->


                                        <!-- Check your answers -->
                                        <!-- <h3 class="heading-medium">Executors applying for probate</h3>
                                        <table style="margin-bottom:30px;">
                                            <tbody>
                                            <tr>
                                                <td class="heading-small">Name</td>
                                                <td class="heading-small">Status</td>
                                                <td class="heading-small">Date</td>
                                            </tr>
                                            <tr>
                                                <td>Lee D Xecutor</td>
                                                <td>Agreed</td>
                                                <td>23 November 2017</td>
                                            </tr>
                                            <tr>
                                                <td>Coe Xecutor</td>
                                                <td>Disagreed</td>
                                                <td>23 November 2017</td>
                                            </tr>
                                            <tr>
                                                <td>Jonathan Williams</td>
                                                <td>Not yet answered</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table> -->
                                        <!-- <p>The other executors will be asked to contact you if they don't agree with the legal statement. Only you can make changes to this application. </p> -->

                        <p class="text-in-tasklist"><a href="/check-your-answers">Check and change your answers</a></p>
                        <p class="text-in-tasklist"><a href="/tasklist/grant" style="color:white;">Execs agreed</a></p>
                        <!-- <p>You may need to contact anyone who has:</p>
                        <ul class="list list-bullet">
                            <li>disagreed with the legal statement</li>
                            <li>not yet responded to the email they were sent</li>
                        </ul>   -->

                        <!-- <p>The probate registry is not able to help with any disagreements between executors. You'll need to find another way to reach an agreement, which may include getting legal advice.</p>
                        </li> -->

                    <li class="task-item">
                        <span class="heading-medium">4. Order extra copies of the grant of probate</span>
                        <p class="task-unavailable progress-status-tag">Can't start yet</p>
                    </li>


                    <li class="task-item">
                        <span class="heading-medium"><span class="task-list-section-number">5. </span>Pay and submit</span>
                        <p class="task-unavailable progress-status-tag">Can't start yet</p>
                    </li>


                    <li class="task-item">
                        <span class="heading-medium">6. Send documents</span>
                        <p class="task-unavailable progress-status-tag">Can't start yet</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</main>


{% endblock %}
