


<html><head><title></title></head>

<body style="margin:0;padding:0">
<style type="text/css">
 li {
 	font-size: 19px;
	line-height: 26px
 }
 p{
	font-family:Helvetica,Arial,sans-serif; 
	font-size:19px; 
	line-height:1.315789474;
	color:#0B0C0C;
	margin:0 0 20px 0;
 }


 h1, h2{font-family: arial; sans-serif; margin-left:100:px;}
 h1 {font-size:18px;}
 h2 {font-size:14px;}

</style>
    <div><img src="/public/images/email-header-gmail.png"></div>
<table style="align-content: left; border-width:0px;padding:0px; margin:0px;">
    <tr>
        <td style="width:30px"></td>
        <td><span><h1>Application for probate: your account has been activated</h1></span> <h2 class="heading-xsmall">The Probate Registry <i>probate@hmcts.gov.uk</i></h2></td>
        <td></td>
    </tr>
</table>
 <hr>

<div><div autoid="_rp_F" class="_rp_E5 rpHighlightAllClass rpHighlightBodyClass allowTextSelection">   <div style="display: none;"></div>  <div>  <div class="_rp_F5 ms-font-weight-regular ms-font-color-neutralDark isMessageBodyInPopout" tabindex="-1" role="presentation" id="Item.MessageNormalizedBody" style="font-family: wf_segoe-ui_normal, &quot;Segoe UI&quot;, &quot;Segoe WP&quot;, Tahoma, Arial, sans-serif, serif, EmojiFont;"><div class="rps_2359"><style type="text/css"><!-- .rps_2359 body
{ margin: 0!important; }
 --></style>
<div>
<div style="font-family: Helvetica, Arial, sans-serif, serif, EmojiFont; font-size: 16px; margin: 0px; color: rgb(11, 12, 12);">
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width:100%; width:100%!important">
<tbody>
<tr>
<td width="100%" height="53" bgcolor="#0b0c0c">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="max-width:580px">
<tbody>
<tr>
<td width="70" bgcolor="#0b0c0c" valign="middle"><a href="https://www.gov.uk" target="_blank" rel="noopener noreferrer" title="Go to the GOV.UK homepage" style="text-decoration:none">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="padding-left:10px"><img data-imagetype="External" src="https://static.notifications.service.gov.uk/images/gov.uk_logotype_crown.png" alt="" height="32" border="0" style="margin-top:4px"> </td>
<td style="font-size:28px; line-height:1.315789474; margin-top:4px; padding-left:10px">
<span style="font-family: Helvetica, Arial, sans-serif, serif, EmojiFont; font-weight: 700; color: rgb(255, 255, 255); text-decoration: none; vertical-align: top; display: inline-block;">GOV.UK</span> </td>
</tr>
</tbody>
</table>
</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="x_content" align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width:580px; width:100%!important">
<tbody>
<tr>
<td width="10" height="10" valign="middle"></td>
<td>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td bgcolor="#005EA5" width="100%" height="10"></td>
</tr>
</tbody>
</table>
</td>
<td width="10" valign="middle" height="10"></td>
</tr>
</tbody>
</table>
<!-- new table -->
<table class="x_content" align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width:580px; width:100%!important">
<tbody>
<tr>
<td height="30">&nbsp;</td>
</tr>
<tr>
<td width="10" valign="middle">&nbsp;</td>
<td style="font-family:Helvetica,Arial,sans-serif; font-size:19px; line-height:1.315789474; max-width:560px">
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Dear {{ data['labParticipantName'] }},</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Your account has been activated. You can now continue to apply for probate.</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">You have 6 months to complete your application.</p>
<h2 style="margin:0 0 20px 0; padding:0; font-size:27px; line-height:35px; font-weight:bold; color:#0B0C0C">
Filling in your probate application</h2>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Use this link to sign in and continue your application:</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C"><a href="/login-firstperson" target="_blank" rel="noopener noreferrer" style="word-wrap:break-word">https://www.probate.reform.hmcts.net/sign-in</a>.</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">To make the application you'll need:</p>
<table style="padding:0 0 20px 0">
<tbody>
<tr>
<td style="font-family:Helvetica,Arial,sans-serif">
<ul style="margin:0 0 0 20px; padding:0; list-style-type:disc">
<li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
the original will of the person who has died</li><li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
the death certificate</li><li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
the completed inheritance tax form</li><li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
to have contacted any other executors, to discuss whos applying, who isn't and reasons why they aren't applying</li><li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
the mobile number and email of every executor who's applying for probate<br>
Your progress will be saved so you can leave and return to your application.</li></ul>
</td>
</tr>
</tbody>
</table>
<h2 style="margin:0 0 20px 0; padding:0; font-size:27px; line-height:35px; font-weight:bold; color:#0B0C0C">
After you've completed your probate application</h2>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">After you've submitted your online probate application, you'll need to send the death certificate, the original will and any other necessary documents to the probate registry office at:</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Digital Application<br>
Oxford District Probate Registry<br>
Combined Court Building<br>
St Aldates<br>
Oxford<br>
Oxfordshire<br>
OX1 1LY</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Kind regards,<br>
The Probate Registry</p>
</td>
<td width="10" valign="middle">&nbsp;</td>
</tr>
<tr>
<td height="30">&nbsp;</td>
</tr>
</tbody>
</table>
This e-mail is private and is intended only for the addressee and any copy recipients. If you are not an intended recipient, please advise the sender immediately by reply e-mail and delete this message and any attachments without retaining a copy. Activity and use of this communication is monitored to secure their effective operation and for other lawful business purposes. Communications using these systems will also be monitored and may be recorded to secure effective operation and for other lawful business purposes. </div>

</div>
</div></div> <div style="display: none;"></div> </div> </div></div>


    <script src="/public/javascripts/govuk-template.js?0.18.3"></script>


  <!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/application.js"></script>
</body>
