


<html><head><title></title></head>

<body style="margin:0;padding:0">
<style type="text/css">
 li {
 	font-size: 19px;
	line-height: 26px
 }
 p{
	font-family:Helvetica,Arial,sans-serif; 
	font-size:19px; 
	line-height:1.315789474;
	color:#0B0C0C;
	margin:0 0 20px 0;
 }


 h1, h2{font-family: arial; sans-serif; margin-left:100:px;}
 h1 {font-size:18px;}
 h2 {font-size:14px;}

</style>
    <div><img src="/public/images/email-header-gmail.png"></div>
<table style="align-content: left; border-width:0px;padding:0px; margin:0px;">
    <tr>
        <td style="width:30px"></td>
        <td><span><h1>Apply for probate to deal with the estate of {{ data['deceasedFirstName'] }} {{ data['deceasedLastName'] }}</h1></span> <h2 class="heading-xsmall">The Probate Registry <i>hm.courts.and.tribunals.registrations@notifications.service.gov.uk</i></h2></td>
        <td></td>
    </tr>
</table>
 <hr>

<div><div autoid="_rp_F" class="_rp_E5 rpHighlightAllClass rpHighlightBodyClass allowTextSelection">   <div style="display: none;"></div>  <div>  <div class="_rp_F5 ms-font-weight-regular ms-font-color-neutralDark isMessageBodyInPopout" tabindex="-1" role="presentation" id="Item.MessageNormalizedBody" style="font-family: wf_segoe-ui_normal, &quot;Segoe UI&quot;, &quot;Segoe WP&quot;, Tahoma, Arial, sans-serif, serif, EmojiFont;"><div class="rps_2359"><style type="text/css"><!-- .rps_2359 body
{ margin: 0!important; }
 --></style>
<div>
<div style="font-family: Helvetica, Arial, sans-serif, serif, EmojiFont; font-size: 16px; margin: 0px; color: rgb(11, 12, 12);">
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="min-width:100%; width:100%!important">
<tbody>
<tr>
<td width="100%" height="53" bgcolor="#0b0c0c">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="max-width:580px">
<tbody>
<tr>
<td width="70" bgcolor="#0b0c0c" valign="middle"><a href="https://www.gov.uk" target="_blank" rel="noopener noreferrer" title="Go to the GOV.UK homepage" style="text-decoration:none">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td style="padding-left:10px"><img data-imagetype="External" src="https://static.notifications.service.gov.uk/images/gov.uk_logotype_crown.png" alt="" height="32" border="0" style="margin-top:4px"> </td>
<td style="font-size:28px; line-height:1.315789474; margin-top:4px; padding-left:10px">
<span style="font-family: Helvetica, Arial, sans-serif, serif, EmojiFont; font-weight: 700; color: rgb(255, 255, 255); text-decoration: none; vertical-align: top; display: inline-block;">GOV.UK</span> </td>
</tr>
</tbody>
</table>
</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="x_content" align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width:580px; width:100%!important">
<tbody>
<tr>
<td width="10" height="10" valign="middle"></td>
<td>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td bgcolor="#005EA5" width="100%" height="10"></td>
</tr>
</tbody>
</table>
</td>
<td width="10" valign="middle" height="10"></td>
</tr>
</tbody>
</table>
<!-- new table -->
<table class="x_content" align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width:580px; width:100%!important">
<tbody>
<tr>
<td height="30">&nbsp;</td>
</tr>
<tr>
<td width="10" valign="middle">&nbsp;</td>
<td style="font-family:Helvetica,Arial,sans-serif; font-size:19px; line-height:1.315789474; max-width:560px">
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Dear {{ data['labParticipantName'] }},</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">{{ data['leadLabApplicantName'] }} has told us that you're an executor who wants to make a probate application to deal with the estate of {{ data['deceasedFirstName'] }} {{ data['deceasedLastName'] }}.</p>
<h2 style="margin:0 0 20px 0; padding:0; font-size:27px; line-height:35px; font-weight:bold; color:#0B0C0C">
What you need to do</h2>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Use the link at the end of this email to view a legal declaration based on the information {{ data['leadLabApplicantName'] }} has given. You'll then need to agree that it's correct.</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">When you visit the link you'll be asked to enter a security code which will be sent to your mobile by SMS. If you don't receive the code within 1 hour, {{ data['leadLabApplicantName'] }} may not have given us the right mobile number.</p>
<h2 style="margin:0 0 20px 0; padding:0; font-size:27px; line-height:35px; font-weight:bold; color:#0B0C0C">
If you don't agree with the legal statement</h2>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">You should contact {{ data['leadLabApplicantName'] }} if you have any questions about the declaration, or if you don't agree that it's correct.</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Only {{ data['leadLabApplicantName'] }} can make changes to the information on the legal declaration. They'll need to tell you if they've updated the declaration, and you'll be able to check it again using the link at the end of this email.</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">The probate registry is not able to help with any disagreements between executors. If you're not all able to agree the legal statement, you'll need to find another way to reach an agreement. This may include getting legal advice.</p>
<h2 style="margin:0 0 20px 0; padding:0; font-size:27px; line-height:35px; font-weight:bold; color:#0B0C0C">
If you dont want to apply for probate</h2>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">If you don't want to make this application, you can choose:</p>
<table style="padding:0 0 20px 0">
<tbody>
<tr>
<td style="font-family:Helvetica,Arial,sans-serif">
<ul style="margin:0 0 0 20px; padding:0; list-style-type:disc">
<li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
not to apply for probate, but reserve the right to apply later if another executor becomes unable to deal with the estate (this is known as having 'power reserved')</li><li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
to completely give up your right to apply for probate (this is known as 'renunciation')</li><li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
If you don't want to apply, you'll need to contact and ask them to change the information they've given.</li></ul>
</td>
</tr>
</tbody>
</table>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Read and confirm the legal declaration<br>
The legal declaration can be viewed at:</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C"><a href="/login-code" target="_blank" rel="noopener noreferrer" style="word-wrap:break-word">https://www.probate.reform.hmcts.net/invitation/williams-afr-456</a></p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">You can use the link for the next 6 months.</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Do not delete this email as you'll need to use the link again if the legal statement gets updated.</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Kind regards,<br>
The Probate Registry</p>
</td>
<td width="10" valign="middle">&nbsp;</td>
</tr>
<tr>
<td height="30">&nbsp;</td>
</tr>
</tbody>
</table>
This e-mail is private and is intended only for the addressee and any copy recipients. If you are not an intended recipient, please advise the sender immediately by reply e-mail and delete this message and any attachments without retaining a copy. Activity and use of this communication is monitored to secure their effective operation and for other lawful business purposes. Communications using these systems will also be monitored and may be recorded to secure effective operation and for other lawful business purposes. </div>

</div>
</div></div> <div style="display: none;"></div> </div> </div></div>


    <script src="/public/javascripts/govuk-template.js?0.18.3"></script>


  <!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>
<script src="/public/javascripts/application.js"></script>
</body>
