{% extends "layout_unbranded.html" %}

{% block page_title %}
Client invitation email
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div><img src="/public/images/email-header.png"></div>
    {% include "includes/phase_banner.html" %}
    <h1 class="heading-small">Changes have been made to your application for probate</h1>
    <h2 class="heading-xsmall">The Probate Service <i>probate@hmcts.gov.uk</i></h2>
    <hr/>
    <div class="grid-row">
        <div class="column-two-thirds">
            <p>Dear {{ data['labParticipantName'] }},</p>
            <p>{{ data['leadLabApplicantName'] }} has changed some information on your application for a grant of probate to deal with the estate of {{ data['deceasedFirstName'] }} {{ data['deceasedLastName'] }}.</p>


            <h2 class="heading-medium">What’s changed</h2>
            <p>{{ data['leadLabApplicantName'] }} has changed the address of {{ data['deceasedFirstName'] }} {{ data['deceasedLastName'] }}.</p>
            <p>The legal statement has been updated to include this information.</p>

            <h2 class="heading-medium">What you need to do</h2>
            <p>You need to check the updated legal statement and confirm that it's true. You must do this even if you confirmed that the last version was true.</p>

            <p>If you disagree with any of the information that’s been given, you’ll need to contact {{ data['leadLabApplicantName'] }} and ask them to update it.</p>
            
            <p>Use the link at the end of this email to check and confirm that you agree with the information. </p>

            <p>You'll be asked to enter a security code which you should have received by SMS text message.</p>

            <h2 class="heading-medium">Read and confirm the new legal statement</h2>

<p>The legal statement can be viewed at:</p>

            <p><a href="/co-executors-journey/declaration" style="word-wrap:break-word;">http://www.probate.reform.hmcts.net/invitation/deeceased-afr-456</a></p>

            

            <p>Kind regards,<br/>
                The Probate Registry</p>
        </div>
    </div>
</main>

{% endblock %}