{% extends "question.html" %}

{% set name %}
    {% if (data['executorNewName' + data['currentExecutorToEdit']].length > 0) %}
        {{ data['executorNewName' + data['currentExecutorToEdit']] }}
    {% else %}
        {{ data['executorName' + data['currentExecutorToEdit']] }}
    {% endif %}
{% endset %}

{% set question %}
    What is the reason for {{ name | trim }}&rsquo;s name change?
{% endset %}

{% block question %}
    {{ question | safe }}
{% endblock %}

{% block form %}
    <div class="form-group">
        <fieldset>
            <legend class="visually-hidden">{{ question }}</legend>

            <div class="multiple-choice">
                <input id="radio-1" type="radio" name="executorNameChangeReason{{data.currentExecutorToEdit}}" value="Marriage"
                {{ data['executorNameChangeReason' + data.currentExecutorToEdit] | checkedIf('Marriage') }}>
                <label for="radio-1">Marriage</label>
            </div>
            <div class="multiple-choice">
                <input id="radio-2" type="radio" name="executorNameChangeReason{{data.currentExecutorToEdit}}" value="Divorce"
                {{ data['executorNameChangeReason' + data.currentExecutorToEdit] | checkedIf('Divorce') }}>
                <label for="radio-2">Divorce</label>
            </div>
            <div class="multiple-choice" data-target="deed-poll">
                <input id="radio-3" type="radio" name="executorNameChangeReason{{data.currentExecutorToEdit}}" value="Change by deed poll"
                {{ data['executorNameChangeReason' + data.currentExecutorToEdit] | checkedIf('Deedpoll') }}>
                <label for="radio-3">Change by deed poll</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="deed-poll">
                <p>You&rsquo;ll need to send a copy of the deed poll document with your application. You can upload a scan or digital photo (you&rsquo;ll be told when to do this) or send it by post.</p>
            </div>

            <div class="multiple-choice" data-target="executor-other-name-reason-panel">
                <input id="radio-4" type="radio" name="executorNameChangeReason{{data.currentExecutorToEdit}}" value="Other" 
                {{ data['executorNameChangeReason' + data.currentExecutorToEdit] | checkedIf('Other') }}>
                <label for="radio-4">Other</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="executor-other-name-reason-panel" aria-hidden="">
                <label class="form-label" for="executor-other-name-reason">Reason for name change</label>
                <input class="form-control" type="text" id="executor-other-name-reason" name="executorNameChangeReasonOther{{data.currentExecutorToEdit}}">
            </div>
        </fieldset>
    </div>
{% endblock %}