{% extends "question.html" %}

{% set question = "Renunciation" %}

{% block question %}
{% if session.executors.numberOfExecutors == 2 %}
Does the other executor want to 'renounce'?
{% else %}
Executors who renounce
{% endif %}
{% endblock %}

{% block form %}

<div class="form-group">



<!--     <p class="text">
    Executors who renounce their right to act as an executor permanently give up their right to manage the estate.
  </p>

    They won't be: 
  </p>

    <ul class="list list-bullet text">
            <li>
              included on the grant of probate
            </li>
            <li>
             able to manage the estate or get access to any of the assets
            <li>
              able to apply for probate in future
            </li>
            </ul> -->

         <p>Executors who renounce their right to act as an executor permanently give up their right to deal with the estate.</p>   

    <p class="text">
      Any executor who has renounced will need to fill in a renunciation form. You'll find a link to the form at the end of this application.</p>
    
    <p class="text">
      The completed form will need to be sent to the probate registry with the other documents. 
  </p>

  </p>

<!--           <fieldset class="inline">

            <legend>
            </legend>


            <div class="multiple-choice" data-target="executors">
              <input id="radio-1" type="radio" name="radioGroup" value="Yes">
              <label for="radio-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-2" type="radio" name="radioGroup" value="No">
              <label for="radio-2">No</label>
            </div>

          </fieldset>
</div>
<div id="executors" class="form-group js-hidden {% if session.executors.numberOfExecutors <= 2 %} hidden {% endif %}">
       <fieldset>
        <legend>
          <p class="form-label-bold">Who wants to do this?</p>
        </legend>
        <div class="form-group">
            {% for i in range(0, session.executors.numberOfExecutors) -%}
                <div class="multiple-choice">
                    <input id="checkbox-{{ i }}" type="checkbox" name="executorsReservingPower[]" value="{{ i }} ">
                    <label for="checkbox-{{ i }}">{{ session.executors.names[i] }}</label>
                </div>
            {%- endfor %}
        </div>
      </fieldset> -->
  </div>
{% endblock %}
