{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

    <main id="content" role="main">

        <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/thankyou">feedback</a> will help us to improve it.</span>
  </p>
</div>
  
  <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="form-title heading-large">About the executors</h1>

        <p>An executor is someone named in the will as being responsible for dealing with the estate.</p>

        <p>Sometimes executors will be replaced by other executors. The will usually explains the circumstances in which an executor can be replaced, but reasons may include:</p>

         <ul class="list list-bullet">
          <li>an executor dying</li>
          <li>an executor becoming mentally incapacitated</li>
          <li>someone being granted a power of attorney on behalf of an executor</li>
        </ul>
          <h2 class="heading-medium">The information we need</h2>
          

          <p>On the next page you’ll be asked to tell us about all the executors. This number must include everyone who:</p>

          <ul class="list list-bullet">
          <li>is currently an executor </li>
          <li>was previously an executor but has been replaced</li>
        </ul>

          <div class="panel panel-border-wide"><p>We do not need to know about anyone who might become an executor in the future.</p></div>


            <p>
        <a class="button" href="how-many" role="button">Continue</a>
      </p>
    </div>
    </div>

    </main>




{% endblock %}
