{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Probate: Personal Applicant v15
<!--         <span class="heading-secondary">Prototype kit: {{releaseVersion}}</span>
 -->      </h1><!-- {{releaseVersion | log }} -->

      <a href="/lab-prep/names" class="button button-start">Co-applicant start</a>

      <a href="/start" class="button button-start">First applicant start</a>

      <br>
      <br>

      <a href="https://probate-admon-prototype.herokuapp.com/dashboard/journey-options" class="button button-start">Multiple applications start</a>


      <!-- <a href="/emails/invitation-redeclaration" class="button button-start">Redeclaration</a> -->
<!--       <a href="/test/set-session">Insert dummy information</a>
 -->      <hr>
          <p>Instructions for this prototype can be found on the <a target="blank" href="https://tools.hmcts.net/confluence/display/PRO/Probate+prototypes">probate prototypes page</a>.</p>
          <p>See the <a target="blank" href="https://tools.hmcts.net/confluence/display/PRO/Beta+%7C+UX+design">Beta | UX design pages</a> to underatand how prototypes were iterated by the probate UX team.</p>
          <hr>
          
      <details>

          <summary><span class="summary">All pages</span></summary>

          <div class="panel panel-border-narrow">

             <h2 class="heading-medium">GOV.UK</h2>

              <ul>
                <li>1. <a href="/gov-uk/1">Probate overview</a></li>
                <li>2. <a href="/gov-uk/5">Probate application</a></li>
              </ul>


              <h2 class="heading-medium">First applicant journey</h2>

              <ul>
              	<li><a href="start">Start page</a></li>
              </ul>

                <h2 class="heading-small">GDS style tasklist</h2>

              <ul class="list">
                <li><a href="/tasklist/gds">tasklist</a></li>
              </ul>



              <h3 class="heading-small">Screeners</h3>

              <ul class="list list-number">
              	<!-- <li><a href="tasklist/index.html">Tasklist: about the will</a></li> -->
              	<li><a href="/screening-questions/will-left">Will left</a></li>
                <li><a href="/screening-questions/will-original">Original will</a></li>
             	  <!-- <li><a href="/screening-questions/will-date">Date on will</a></li>
             	  <li><a href="/screening-questions/codicils">Codicils</a></li> -->
                <li><a href="/screening-questions/death-certificate">Death certificate</a></li>
                <li><a href="/screening-questions/domicile">Domicile</a></li>
             	  <li><a href="/screening-questions/applicant-executor">Are you an executor?</a></li>
                <li><a href="/screening-questions/iht-form">IHT filled in?</a></li>
                <!-- <li><a href="/summary/screening-questions">Summary: about the will</a></li> -->
                <li><a href="/registration/eligible">Eligiblity confirmed</a></li>
              </ul>

              <h3 class="heading-small">Registration</h3>
              <ul class="list list-number">

                <li><a href="/registration/index.html">Create an account</a></li>
                <li><a href="/registration/verify-email">Please verify your email</a></li>
                <li><a href="/emails/registration-email">Verify email</a></li>
              </ul>

              <h2 class="heading-small">About the deceased</h2>
                <ul class="list list-number">
                    <li><a href="/tasklist/about-the-person-who-died">Tasklist: about the person who died</a></li>
                    <li><a href="/deceased/about">Deceased: name, DOB and DOD</a></li>
                    <li><a href="/document-upload/documents">Upload: death certificate</a></li>
                    <li><a href="/deceased/iht-method">Deceased: IHT method</a></li>
                        <ul class="list list-number">
                            <li><a href="/deceased/iht-identifier">Deceased: IHT identifier</a></li>
                            <li><a href="/deceased/iht-value">Deceased: online IHT value</a></li>
                        </ul>
                    <ul class="list list-number">
                    <!-- <li><a href="/deceased/iht-paper">Deceased: which paper IHT?</a></li>
                    <li><a href="/deceased/iht-value-paper">Deceased: paper IHT value</a></li -->
                </ul>
                <li><a href="/deceased/alias">Deceased: Assets in another name?</a>
                    <ul class="list list-number">
                      <li><a href="/deceased/other-names">Deceased: Other names deceased held assets in</a></li>
                    </ul>

                </li>
                <li><a href="/deceased/vested-land" style="color:gray;">Deceased: vested land</a></li>
                <li><a href="/deceased/codicils-new"">Deceased: codicils</a></li>
                <li><a href="/deceased/marital-status">Deceased: Marital status</a></li>
                <li><a href="/deceased/married">Deceased: Got married after will?</a></li>
                <li><a href="/deceased/address/postcode">Deceased: Permanent address</a></li>
                <!-- <li><a href="/summary/the-person-who-died">Summary: about the deceased</a></li> -->
              </ul>

              <h3 class="heading-small">About the executor</h3>

              <ul class="list list-number">
                <li><a href="/tasklist/about-the-executors">Tasklist: about the executors</a></li>
                <li><a href="/applicant/name">Applicant full name</a></li>
                <li><a href="/applicant/name-on-will">Applicant: Is your name the same as on the will?</a>
                  <ul class="list list-number">
                    <li><a href="/applicant/name-will">Applicant: what is your name on the will?</a></li>
                    <li><a href="/applicant/reason-name-change">Applicant: reason for name change?</a></li>
                  </ul>
                </li>

                <li><a href="/applicant/phone-number">Applicant: phone number</a></li>
                <li><a href="/applicant/address/postcode">Applicant: address</a></li>
                <li><a href="/the-executors/how-many">Executors: how many?</a></li>
                <li><a href="/the-executors/names">Executors: names</a></li>
                <li><a href="/the-executors/alive">Executors: are they all alive?</a>


                  <ul class="list list-number">
                      <li><a href="/the-executors/who-is-alive">Executors: Which executors are still alive?</a></li>
                  </ul>
              </li>
              <li><a href="/the-executors/will-any-other-execs-be-dealing-with-the-estate">Executors: will any other execs be applying?</a>
              <li><a href="/the-executors/who-will-administer-estate">Executors: who will administer the estate?</a>
                  <ul class="list-number list">
                    <li><a href="/the-executors/name-changed">Applying executors: same names?</a></li>
                    <li><a href="/the-executors/contact-details">Applying executors: contact details</a></li>

                    <li><a href="/the-executors/address">Applying executors: postal addresses?</a></li>
                  </ul>
              </li>

              <li><a href="/the-executors/remaining-executors">Executors: what will the rest be doing?</a>
                <ul class="list list-number">
                  <!-- <li><a href="">Executors: which one(s) are reserving power?</a></li> -->
                  <li><a href="/the-executors/informed-executors-reserving-power">Reserving executors: have you told them that you are applying for probate?</a></li>
                  <li><a href="/the-executors/renounced">Renouncing executors: have they filled in the form?</a>
                </ul>
                <!-- <li><a href="/summary/the-executors">Summary: the executors</a></li> -->
              </li>


        <!--         <ul class="list list-number">
                  <li>Executors: which one(s) will be renouncing?</li>
                </ul> -->
              </li>

                    </li>
            	<!-- <li><a href="/deceased/check-your-answers">Check your answers</a></li> -->
              </ul>


              <h3 class="heading-small">Review and confirm</h3>
              <ul class="list list-number">
              	<li><a href="/tasklist/review-and-confirm">Tasklist: review and confirm</a></li>
              	<li><a href="check-your-answers">Check your answers</a></li>
              	<li><a href="declaration">Legal statement and declaration (single applicant)</a>
                <li><a href="declaration-lead-multiple">Legal statement and declaration (multiple applicants)</a>
                <li><a href="we-will-notify-other-executors">Multiple applicants: We will notify other execs</a></li>
                <li><a href="we-notified-other-executors">Multiple applicants: We have notified other execs</a></li>
                <li><a href="/tasklist/review-and-confirm-waiting">Tasklist: waiting for other applicants</a></li>
             </ul>


              <h3 class="heading-small">Changes to application</h3>
              <ul class="list list-number">
                <li><a style="color:grey" href="we-will-notify-other-executor-emailorphone">We will notify the other executor (email or phone)</a></li>
                <li><a style="color:grey" href="we-notified-other-executor">We have notified the other executor (email or phone)</a></li>
                <li><a style="color:grey" href="we-will-notify-other-executor-emailorphone">We will notify the other executors (email or phone)</a></li>
                <li><a style="color:grey" href="we-notified-other-executors">We have notified the other executors (email or phone)</a></li><li><a style="color:grey" href="we-will-notify-other-executors-addingnewpeople">We will notify the  executors you have added</a></li>
                <li><a style="color:grey" href="we-notified-other-executors-addednewperson">We have notified the executor you have added</a></li>
                <li><a href="we-wont-notify-other-executor">We won't notify the other executors</a></li>
               </ul>


              <h3 class="heading-small">Grant</h3>
              <ul class="list list-number">
              	<li><a href="/tasklist/grant">Tasklist: grant</a></li>
              	<li><a href="/grant/copies-uk">Grant: How many copies do you need?</a></li>
              	<li><a href="/grant/assets-overseas">Did the deceased have assets outside the UK?</a></li>
              	<li><a href="/grant/copies-overseas">Grant: How many copies for outside the UK?</a></li>
              	<li><a href="/grant/check-your-answers">Grant: Check your answers</a></li>
             </ul>

              <h3 class="heading-small">Pay</h3>
              <ul class="list list-number">
              	<li><a href="/tasklist/pay-and-submit">Tasklist: Pay and submit</a></li>
              	<li><a href="/pay/payment-breakdown">Fee breakdown</a></li>
              	<li><a href="/pay/enter-card-details">Card details</a></li>
              	<li><a href="/pay/confirm-your-payment">Confirm your payment</a></li>
              	<li><a href="/pay/application-submitted">Application submitted</a></li>
                <li><a href="thank-you-combined">Thank you</a></li>

             </ul>

              <h3 class="heading-small">Documents and end of journey</h3>
              <ul class="list list-number">
                <li><a href="/tasklist/send-documents">Tasklist: send documents</a></li>
                <li><a style="color:gray;" href="/documents">Documents</a></li>
                <li><a style="color:gray;" href="/documents-noneedtosignwill">Documents (no need to sign the will)</a></li>
                <li><a href="/documents/prepare-to-send-documents">Prepare to send documents</a></li>
                 <li><a href="/upload-docs/documents">Upload your documents</a></li>
                <li><a href="/documents/send-your-documents">Send your documents</a></li>
                <li><a href="/documents-noneedtosignwill">Documents</a></li>
                <li><a href="/thank-you">Thank you</a></li>
              </ul>

              <h3 class="heading-medium">Co-applicant journey</h3>

              <p><a href="/lab-prep/names">Lab preparation page</a></p>

              <h3 class="heading-small">Service pages</h3>
             <ul class="list list-number">
               <!-- <li><a href="login">Co-applicant: login page</a></li> -->
               <li><a href="login-code">Co-applicant: login code</a></li>
              <li><a href="/co-executors-journey/login-code-havent-received">Co-applicant: login code not received</a></li>
              <li><a href="co-executors-journey/login-code-resent">Co-applicant: login code resent</a></li>
               <li><a href="/co-executors-journey/start">Co-applicant: start page</a></li>
               <!-- <li><a href="/co-executors-journey/check-your-answers">Co-applicant: check answers</a></li> -->
               <!-- <li><a href="/co-executors-journey/agree-check-your-answers">Co-applicant: agreed with check answers</a></li> -->
               <!-- <li><a href="/co-executors-journey/disagree-check-your-answers">Co-applicant: disagreed with check answers</a></li> -->
                <li><a href="/co-executors-journey/declaration">Co-applicant: declaration</a></li>
                <li><a href="/co-executors-journey/agree-declaration">Co-applicant: agree with declaration</a></li>
                <li><a href="/co-executors-journey/disagree-declaration">Co-applicant: disagree with declaration</a></li>
                <li><a href="/co-executors-journey/everyones-signed">Co-applicant: everyone's signed</a></li>
             </ul>

              <h3 class="heading-small">Notifications</h3>

             <ul class="list list-number">
               <li><a href="/emails/invitation">Email: co-applicant invitation </a></li>
               <li><a href="/sms/security-code">SMS: co-applicant security code </a></li>
               <!-- <li><a href="/emails/invitation-2">Email: invitation 2</a></li> -->
               <li><a style="color:grey" href="/emails/acknowledge-you-disagree">Email: co-applicant - we acknowledge you disagree</a></li>
               <li><a style="color:grey" href="/emails/co-applicant-has-disagreed">Email: lead-applicant - co-applicant has disagreed</a></li>
               <li><a style="color:grey" href="/emails/something-has-changed">Email: co-applicant - something has changed </a></li>
               <li><a style="color:grey" href="/emails/time-to-order-copies">Email: lead-applicant - next steps, order copies etc </a></li>
               <!-- <li><a href="/emails/time-to-declare">Email: time to declare</a></li> -->
               <!-- <li><a href="/emails/everyone-has-declared">Email: co-applicant - you have declared</a></li> -->
               <li><a style="color:grey" href="/emails/everyone-has-declared-next-steps">Email: co-applicant - next steps, sign will</a></li>

             </ul>

             <h3 class="heading-medium">Multiple applications journey</h3>

             <!-- <h3 class="heading-small">Notifications</h3> -->

            <ul class="list list-number">
              <li><a href="/login-bookmarked">Bookmarked: Sign in - new application</a></li>
              <li><a href="/login-continue-application">Bookmarked: Sign in - existing application</a></li>


            </ul>

             <h3 class="heading-medium">Redeclaration</h3>


        <hr>
        		<h3 class="heading-medium">Examples and documentation</h3>

        	<ul class="list list-bullet">
        		<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        		<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
        	</ul>

              <h3 class="heading-medium">Other resources</h3>

        			<ul class="list list-bullet">
        				<li>
        					<a href="https://govuk-elements.herokuapp.com/snippets/">
        						Guide to GOV.UK Elements
        					</a>
        				</li>
        				<li>
        					<a href="https://www.gov.uk/service-manual">
        						Service design manual
        					</a>
        				</li>
        				<li>
        					<a href="https://www.gov.uk/design-principles">
        						Government Digital Service Design Principles
        					</a>
        				</li>
        			</ul>
          </div>

</details>

      <details>

          <summary><span class="summary">Previous prototype versions</span></summary>

          <div class="panel panel-border-narrow">
            <ul class="list list-bullet">
                    <li><a href="https://probate-prototype-v14.herokuapp.com/">Version 14</a>
                     <p class="heading-small">What's new</p>
                    <ul class="list list-bullet">
                      <li>New tasklist style</li>
                      <li>Included mental incapacity as an option for why someone isn’t applying</li>
                      <li>New help link (contact number and email address)</li>
                      <li>Re-ordered screener to match intestacy journey</li>
                      <li>New help link label</li>
                      <li>Included document upload in journey and relabelled step 5 to merge document upload and pay into one task</li>
                    </ul>
                      </li>
                  </ul>
                  <span class="form-hint" style="padding-bottom:20px;">Tested 2 August 2018 at GDS labs</span>

                  <ul class="list list-bullet">
                    <li><a href="https://probate-prototype-v13.herokuapp.com/">Version 13</a>
                     <p class="heading-small">What's new</p>
                    <ul class="list list-bullet">
                      <li>New mental incapacity screening question</li>
                      <li>New domicile screening question</li>
                      <li>Updated content on question about the death certificate</li>
                        <li>Iterated question about accounting for executors</li>
                        <li>Removing question about whether the will was dated</li>
                        <li>Updating the question about marital status of the deceased to remove mention of the date on the will</li>
                        <li>Making it clear that only 4 executors can apply and adding validation</li>
                    </ul>
                      </li>
                  </ul>
                     <ul class="list list-bullet">
                    <li><a href="https://probate-prototype-v12.herokuapp.com/">Version 12</a>
                     <p class="heading-small">What's new</p>
                    <ul class="list list-bullet">
                      <li></li>
                    </ul>
                      </li>
                  </ul>
                  <ul class="list list-bullet">
                    <li><a href="https://probate-prototype-v11.herokuapp.com/">Version 11</a>
                     <p class="heading-small">What's new</p>
                    <ul class="list list-bullet">
                      <li>Amended gov.uk content</li>
                    </ul>
                      </li>
                  </ul>

                  <ul class="list list-bullet">
                    <li><a href="https://probate-prototype-v10.herokuapp.com/">Version 10</a>
                     <p class="heading-small">What's new</p>
                  <ul class="list list-bullet">
                    <li>Included placeholder footer links</li>
                    <li>Changed process for accounting for executors</li>
                    <li>Completely new gov.uk content </li>
                    <li>Removing the need to sign the will</li>
                    <li>Changing “we’ to “I” in declaration </li>
                    <li>Including new IDAM journey</li>
                    <li>Including ability to return to an existing application from the service start page</li>
                  </ul>
                    </li>
                </ul>

                <ul class="list list-bullet">
                    <li><a href="https://probate-prototype-v9.herokuapp.com/">Version 9</a>
                     <p class="heading-small">What's new</p>
                  <ul class="list list-bullet">
                    <li>Changed button to “continue” with “save and close” underneath</li>
                    <li>Moved codicils question from screener section</li>
                    <li>Removed question about assets overseas, instead asks how many copies overseas straight-away</li>
                    <li>Changed print label to match sol’s as they had feedback that “print this page” wasn’t explicit enough </li>

                  </ul>
                    </li>
                </ul>

                  <span class="form-hint" style="padding-bottom:20px;">Tested 8 February 2018 at Dialect labs</span>

              <ul class="list list-bullet">
                    <li><a href="https://probate-prototype-v8.herokuapp.com/">Version 8</a>
                     <p class="heading-small">What's new</p>
                  <ul class="list list-bullet">
                    <li>Removed vested land question </li>
                    <li>broken IHT questions into seperate sections so only IHT screener is asked in the screener section, details are asked in “about the deceased”</li>
                    <li>reordered screener section so IHT question is asked closer to the start of the application</li>
                    <li>Introduced sign up flow</li>
                    <li>ask screeners before users are asked to create an account</li>
                  </ul>
                    </li>
                    </ul>

                  <span class="form-hint" style="padding-bottom:20px;">Tested 10 January 2018 at Sutherland labs
</span>

          <ul class="list list-bullet">
                    <li><a href="https://probate-prototype-v7.herokuapp.com/">Version 7</a>
                     <p class="heading-small">What's new</p>
                  <ul class="list list-bullet">
                    <li>Included a question about vested land</li>
                    <li>Included a sign out link</li>
                    <li>Iterated the second applicant journey</li>
                    <li>Introduced a redeclaration journey</li>
                    <li>Iterated the statement of truth layout and content</li>
                    <li>Included a 'dummy data' link so information can be prefilled without going through the whole application</li>
                  </ul>
                    </li>
                    </ul>

                  <span class="form-hint" style="padding-bottom:20px;">Tested 13 December 2017 at DialectLabs</span>

            <ul class="list list-bullet">
                    <li><a href="https://probate-prototype-v6.herokuapp.com/">Version 6</a>
                     <p class="heading-small">What's new</p>
                  <ul class="list list-bullet">
                    <li>Removed executor speed bump page</li>
                    <li>Shortened URL for accessing probate application</li>
                    <li>Removed lots of content from tasklist</li>
                    <li>Included downloadable document checklist</li>
                  </ul>
                    </li>
                    </ul>

                  <span class="form-hint" style="padding-bottom:20px;"></span>

             <ul class="list list-bullet">
                    <li><a href="https://probate-prototype-v5.herokuapp.com/">Version 5</a>
                     <p class="heading-small">What's new</p>
                  <ul class="list list-bullet">
                    <li>Showed full links in emails</li>
                    <li>Introduced accounting for instituted and substituted executors</li>
                    <li>Asked which executors are dead instead of which execs are alive </li>
                    <li>Asked whether or not the dead exec died before or after the deceased</li>
                    <li>Integrated live postcode lookup</li>
                    <li>Replaced the term “managing the estate” with “dealing with the state” </li>
                    <li>Asking if they have notified anyone reserving power about probate application</li>
                    <li>Re-ordered check your answers page</li>
                    <li>Suggested that co-applicants contact the lead applicant before disagreeing with legal statement</li>
                  </ul></li>
                    </ul>

                  <span class="form-hint" style="padding-bottom:20px;">Tested 15 November 2017</span>

                    <ul class="list list-bullet">
                          <li><a href="https://probate-prototype-v4a.herokuapp.com/">version 4a</a>
                          <p class="heading-small">What's new</p>
                  <ul class="list list-bullet">
                    <li>Tidied up the IHT hint text</li>
                  </ul></li>
                    </ul>

                  <span class="form-hint" style="padding-bottom:20px;">Tested 2 November 2017</span>
                <ul class="list list-bullet">
                <li><a href="https://probate-prototype-v4.herokuapp.com/">version 4</a>
                <p class="heading-small">What's new</p>
                <ul class="list list-bullet">
                  <li>Reduced the back and forth between the lead and co-applicants by removing the need for the co-applicant to review the lead applicants 'check your answers' submission. Instead they now go straight to the declaration screen</li>
                  <li>introduced content that allows the co-applicants to opt out of applying for probate in the welcome email</li>
                  <li>Lead applicant: introduced 'about the person who died' section in tasklist, seperating the collection of information about the deceased from executor information</li>
                  <li>Lead applicant: started to iterate content on tasklist</li>
                  <li>introduced content telling the co-applicant what has changed on the  'something has changed' email</li>
                  <li>Lead applicant: introduced content on the tasklist telling them that they can't proceed until all the other applicants have signed the declaration</li>
                </ul>
                <span class="form-hint" style="padding-bottom:20px;">Tested 31 October 2017</span>
              <!-- <h2 class="heading-medium">First applicant journey</h2> -->

              <ul class="list list-bullet">
                <li><a href="https://probate-prototype-v3.herokuapp.com/">version 3</a>
                <p class="heading-small">What's new</p>
                <ul class="list list-bullet">
                  <li>Created the first digital version of co-applicant journey</li>
                  <li>introduced concept of co-applicant receiving emails telling them that something has changed with the probate application and they need to do something online</li>
                  <li>introduced concept of hand-offs between lead and co-applicant</li>
                  <li>introduced concept of telling the lead applicant that we'll be contacting the co-applicant</li>
                  <li>collected the co-applicant contact details from the lead applicant</li>
                  <li>include questions about IHT, death certificate and domicile in screener section</li>
                </ul>

                <span class="form-hint" style="padding-bottom:20px;">Tested 19 October 2017</span>

                </li>
                <li><a href="https://probate-prototype-v2.herokuapp.com/">version 2 </a><br>Tested 27 September 2017</li>
                <li>v1 (no link)<br>Axure prototype</li>
                <li><a href="https://probate-prototype-v0.herokuapp.com/">version 0</a><br>Steel thread snapshot 28 September 2017</li>

              </ul>

          </div>
    </div>

    <!-- aside -->
    <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Controls</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">
                    <li><a class="secondary-button" href="/test/set-session">Insert dummy information</a></li>
                    <li>
                    </li>
                  </ul>
                </nav>
              </aside>

              <aside class="govuk-related-items" role="complementary">


            </div>
  </div>


</main>

{% endblock %}
