{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

    <main id="content" role="main">

        <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/thankyou">feedback</a> will help us to improve it.</span>
  </p>
</div>

  <div class="grid-row">
    <div class="column-two-thirds">

      

            <h1 class="heading-large">You've signed out</h1>
        <div class="text">


            <p>The information you've given has been saved. You have 6 months to complete your application from the date you started.</p> 

                <p>To continue with your application, <a href="/login-firstperson">sign back in</a>.</p>

            <!-- <p><a href="http://www.smartsurvey.co.uk/s/A2LY8/">This is a new service – your feedback will help us to improve it.</a></p> -->

      </div>
</div>

    </main>




{% endblock %}
