<div class="report-error" style="margin-left: 20px;">
<details role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="true" style="color: #454a4c;">
      <span class="report-error__toggle">Is there a problem with this page?</span>
    </summary>
    <div class="report-error__content" id="details-content-0" aria-hidden="false">
        <h3 class="heading-medium">Help us improve GOV.UK</h3>
        <p>
        <a href="http://www.smartsurvey.co.uk/s/PTXZY/" target="_blank">Please report any problems with this page.</a>
        </p><p class="text">
        This link will open in a new tab. You’ll need to return to this tab and continue with your application within 60 minutes so you don’t lose your progress.
        </p>
    </div>
</details>
</div>
