{% extends "layout-start.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">


    <div class="column-full">
      <div class="phase-banner">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

</div>

<div class="column-two-thirds">

      <!-- <div class="breadcrumbs">
    <ol>
      <li><a href="#">Home</a></li>

      <li><a href="#">Births, deaths, marriages and care</a></li>


      <li aria-current="page">Death and bereavement</li>

    </ol>
  </div> -->



  <h1 class="form-title heading-large">Apply for probate</h1>

  <p class="text">Probate gives you the legal right to deal with a person&rsquo;s property, money and possessions (their &lsquo;estate&rsquo;) after they&rsquo;ve died.</p>

  <p class="text">You need to fill in the application online then send your documents to the probate registry. We’ll tell you exactly what you need to send when you have completed your application.</p>

  <ul class="panel panel-border-wide">
      To apply in Welsh, download <a href= href="xx">form PA1</a>.
      We're currently <br> building a Welsh language online service.
  </ul>


  <h2 class="heading-medium">If more than one person is applying</h2>
  <p class="text">Up to 4 people can apply for probate.</p>

  <p class="text">All applicants will need to agree with the legal declaration and their names will appear on the grant of probate.</p>

  <p class="text">Everyone applying must have their own email address. That’s because we can't discuss details with anyone but the people named in the application.</p>

  <p class="text">They will also need a mobile phone and access to the Internet.</p>


  <h2 class="heading-medium">Fees</h2>

  <p class="text">It costs &pound;215 to apply for probate if the value of the estate is more than &pound;5,000. It&rsquo;s free if the value is less.</p>
  <p class="text">Extra copies of the grant of probate cost 50p each.</p>

  <p class="text">You&rsquo;ll need to pay online by debit or credit card.</p>




  <p><a href="screening-questions/death-certificate" class="button button-start">Start now</a></p>

    <h2 class="heading-medium">Return to an existing application</h2>

  <p>You need to <a href="/login-firstperson">sign in to your courts and tribunals account</a>.</p>


    </div>

    <!-- aside -->
    <div class="column-third">

    <br>
    <br>

              <aside class="section-blue" role="complementary">
                </aside>
                <h3 class="heading-small" id="subsection-title">Related probate services</h3>
                <ul class="list">
                  <li><a class="font-xsmall" href="https://probate-caveat-proto.herokuapp.com/start">Stop an application for probate</a></li>
                  <li><a class="font-xsmall" href="https://probate-stand-search-prototype.herokuapp.com/start">Get notified when a grant of probate is issued</a></li>
                  <li><a class="font-xsmall" href="https://www.gov.uk/search-will-probate">Find a will</a></li>
                  </ul>

                <!-- <hr>
                <ul class="list">
                  <li><p class="font-xsmall">Explore the topic</p></li>
                  <li><a class="bold-xsmall" href="https://www.gov.uk/wills-probate-inheritance">Wills, probate and inheritance</a></li>
                  <li><a class="bold-xsmall" href="https://www.gov.uk/browse/tax/inheritance-tax">Inheritance Tax</a></li>
                  <li><a class="bold-xsmall" href="https://www.gov.uk/browse/tax/capital-gains">Capital Gains Tax</a></li>
                  <li><a class="bold-xsmall" href="https://www.gov.uk/browse/births-deaths-marriages/death">Death and bereavement</a></li>
                  </ul> -->






            </div>
  </div>


</main>

{% endblock %}
