{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/start-page">feedback</a> will help us to improve it.</span>
  </p>
</div>


<div class="grid-row">
  <div class="column-two-thirds">
          <h1 class="form-title heading-large">Apply for probate</h1>

    <p>Use this service to apply for probate (also known as a &lsquo;grant of probate&rsquo; or a &lsquo;grant of representation&rsquo;) in England and Wales.</p>
    <p>Probate gives you the legal right to deal with a person&rsquo;s property, money and possessions (their &lsquo;estate&rsquo;) after they&rsquo;ve died.</p>

    <ul class="panel panel-border-wide">
        There are different applications in <a rel="external noopener" href="https://www.scotcourts.gov.uk/taking-action/dealing-with-a-deceased%27s-estate-in-scotland">Scotland</a> and <a rel="external noopener" href="http://www.nidirect.gov.uk/applying-for-probate-in-northern-ireland">Northern Ireland</a>.
    </ul>

    <p>Fill in the application online, then send the will and death certificate to the probate registry by post.</p>
    <p>Your progress will be saved so you can leave and return to your application.</p>

    <div class="heading-medium">
        Who can use this service
    </div>
    <p>You can only make an online application for probate if you have:</p>
    
<ul class="list list-bullet">
    
        <li>the original will of the person who died</li>
    
        <li>a death certificate (this must be the original or an <a rel="external noopener" href="https://www.gov.uk/after-a-death/when-a-death-is-reported-to-a-coroner">interim death certificate</a> from the coroner)</li>
    
        <li>completed an <a rel="external noopener" href="https://www.gov.uk/valuing-estate-of-someone-who-died/forms">inheritance tax form</a></li>
    
        <li>been named as an executor on the will, or an update to the will (&lsquo;codicil&rsquo;)</li>
    
        <li>spoken to all the executors who are applying for probate, and told them you&rsquo;re making this application</li>
    
        <li>the mobile number and email of every executor who&rsquo;s applying for probate, so that they can confirm that the information you provide is correct</li>
    
</ul>

    <p>The person who died must also have regarded England or Wales as their permanent home (they were &lsquo;domiciled&rsquo; here).</p>

    <div class="heading-medium">
        Fees
    </div>
    <p>It costs &pound;215 to apply for probate if the value of the estate is &pound;5,000 or more. It&rsquo;s free if the value is under &pound;5,000. Extra copies of the grant of probate cost 50p each.</p>
    <p>You&rsquo;ll need to pay online by debit or credit card.</p>



        <p><a href="/tasklist" class="button button-start">Start now</a></p>

  </div>

</div>
</main>


{% endblock %}
