{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/start-page">feedback</a> will help us to improve it.</span>
  </p>
</div>


    <h1 class="form-title heading-large">Apply for probate</h1>

    <p class="text">You can use this service to apply for probate (also known as a grant of probate or a grant of representation) in England and Wales.</p>
    <p class="text">Probate gives you the legal right to deal with a person's property, money and possessions (their ‘estate’) after they have died.</p>
    <div class="panel panel-border-wide">
     <p class="text">
        There are different applications in <a href="https://www.scotcourts.gov.uk/taking-action/dealing-with-a-deceased%27s-estate-in-scotland" target="_blank">Scotland</a> and <a href="http://www.nidirect.gov.uk/applying-for-probate-in-northern-ireland" target="_blank">Northern Ireland</a>.
    </p>
</div>
    <p class="text">Fill in the application online, then send the will and death certificate to the probate registry by post.</p>

     <p class="text">
    Your progress will be saved so you can leave and return to your application.
</p>

    <h2 class="heading-medium">Who can use this service</h2>

    <p class="text">
          Before you can create an account or <a href="/login-firstperson"> sign in</a> you'll need to confirm that you have:
      </p>

    <ul class="list list-bullet text">
        <li>the original will of the person who died</li>
        <li>the death certificate (this must be the original or a <a href="https://www.gov.uk/certifying-a-document" target="_blank">certified copy</a>)</li>
        <li>completed an <a href="https://www.gov.uk/valuing-estate-of-someone-who-died/forms" target="_blank">inheritance tax form</a></li>
      
        <li>been named as an executor on the will, or an update to the will ('codicil')</li>
        <li>tried to contact all the other executors named in the will, to tell them you're applying for probate and to find out if they want to apply</li>  
        <li>the mobile number and email of every executor who's applying for probate</li>  
      </ul>

 <p class="text">
    The person who died must also have regarded England or Wales as their permanent home (they were 'domiciled' here).
</p>

<!-- ^^ WE WERE MISSING THIS BEFORE, BUT IT AS IMPORTANT AS THE OTHERS -->

 

<!-- ^^ ADDED THIS AS AGREED -->

    <h2 class="heading-medium">Fees</h2>

    <p class="text">
        It costs £215 to apply for probate if the value of the estate is more than £5,000. It's free if the value is less. Extra copies of the grant of probate cost 50p each.
    </p>

<!--     ^^ MADE SHORTER -->

       <p class="text">
        You can pay online by debit or credit card.
    </p>


    <!-- <p class="text">
        You may be able to <a href="https://www.gov.uk/get-help-with-court-fees" target="_blank">get help paying the fee</a> if you have little or no savings, are on certain benefits or have a low income.</p> -->
<!-- 
^^ THIS WASNT MENTIONED BEFORE. -->



        <p><a href="/tasklist" class="button button-start">Start now</a></p>


</main>


{% endblock %}
