 {% extends "layout_no_sign_out.html" %}

{% block page_title %}
Apply for probate
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/start-page">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <h1 class="form-title heading-large">Apply for probate</h1>

    <p class="text">Probate gives you the legal right to deal with a person&rsquo;s property, money and possessions (their &lsquo;estate&rsquo;) after they&rsquo;ve died.</p>

    <p class="text">You need to fill in the application online then send your documents to the probate registry. We’ll tell you exactly what you need to send when you have completed your application.</p>

    <ul class="panel panel-border-wide">
        To apply in Welsh, download <a href= href="xx">form PA1</a>. 
        We're currently <br> building a Welsh language online service. 
    </ul>


    <h2 class="heading-medium">If more than one person is applying</h2>
    <p class="text">Up to 4 people can apply for probate.</p>

    <p class="text">All applicants will need to agree with the legal declaration and their names will appear on the grant of probate.</p>

    <p class="text">Everyone applying must have their own email address. That’s because we can't discuss details with anyone but the people named in the application.</p>

    <p class="text">They will also need a mobile phone and access to the Internet.</p>


    <h2 class="heading-medium">Fees</h2>

    <p class="text">It costs &pound;215 to apply for probate if the value of the estate is more than &pound;5,000. It&rsquo;s free if the value is less.</p>
    <p class="text">Extra copies of the grant of probate cost 50p each.</p>

    <p class="text">You&rsquo;ll need to pay online by debit or credit card.</p>


    <h2 class="heading-medium">If you have feedback</h2>  
    <p class="text">We’re currently building this service. If you notice things that don’t work as well as they should, you can use the ‘feedback’ link at the top of the page.</p>

    <p><a href="screening-questions/death-certificate" class="button">Check you can apply</a></p>

    <p><a href="/login-firstperson">Return to an existing application</a>.</p>

</main>

{% endblock %}