{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

    <main id="content" role="main">

        <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/thankyou">feedback</a> will help us to improve it.</span>
  </p>
</div>

  <div class="grid-row">
          <div class="govuk-box-highlight">

            <h1 class="bold-large"><!-- Your payment has been received <br>and your application is now in progress -->Your payment and application have been received</h1>

            <p>
            {% if session.paymentMethod == "by-card" %}Your payment has been received.{% endif %} Your reference number is <br>
              <strong class="heading-medium">HDJ2123F</strong>
            </p>
              <p>
              A confirmation email has been sent to {{ data['leadEmailAddress'] }}<strong class="bold-small">{{ session.emailAddress }}</strong>.
              </p>
      </div>
    <div class="column-two-thirds">


<!-- documents -->
            <h2 class="heading-medium">Prepare to send your documents</h2>


            <p>You can keep track of the documents you need to send by downloading or printing a <a href="public/images/document-list.pdf">documents checklist</a>.</p>

            <h3 class="heading-small">1. What you need to sign</h3>




            <ul class="list list-bullet text">

                <li>the original will - you must sign the first page in the top right corner, but not make any other changes to the will</li>

                <li>any updates (‘codicils’) - you must sign the front of each codicil in the top right corner, but not make any other changes to the codicils</li></ul>

 <h3 class="heading-small">2. What the other applying executors need to sign</h3>

 <ul class="list list-bullet text">


                <li>a photocopy of the will - they must each sign the first page of a photocopy in the top right corner</li>

                <li>photocopies of any codicils  - they must each sign the first page of any photocopies in the top right corner</li></ul>


<h3 class="heading-small">3. Other documents</h3>

<ul class="list list-bullet text">

  <li>2 photocopies of the will and codicils that you’ve signed – these photocopies must be on plain A4 paper</li>


                <li>the death certificate – this will be returned to you</li>



                {% if data['iht_form'] ==='205' %}
                    <li>the completed inheritance tax form IHT 205 (if you printed off and filled in a paper form)</li>
                {% endif %}

                {% if data['iht_form'] ==='420' %}
                    <li>the stamped IHT 421 form – if you have not yet received this from HMRC please let us know in the cover letter and you can forward it at a later date. Please note that we will not be able to issue the grant until we receive the stamped IHT 421 form</li>
                {% endif %}

                {% if renunc === true %}
                    <li>{{data['hello']}} a renunciation form filled in and signed by any executors that don’t want to apply now, and give up their right to do so in the future</li>
                {% endif %}
            </ul>

            <p class="text">You’ll also need to include a cover letter if the will or codicils have been changed in any way since you got given them. This includes them being torn, creased or separated for photocopying. The letter should explain what’s been changed and why.</p>


<!--             <p><a rel="external" target="_blank" href="https://www-test.probate.reform.hmcts.net/public/renunciation.pdf">Download a copy of the renunciation form</a></p> -->

<!-- from divorce proto -->

<!--             <div class="notice">
              <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
              </i>
              <strong class="bold-small text">
                The grant of probate will not be issued if you don't have all the necessary signatures.
              </strong>
            </div> -->

            <h2 class="heading-medium">Send your documents to the probate registry</h2>

            <p class="text">Your documents should be sent by registered post to:</p>
            <div class="panel">
                        <p>Digital Application,<br /> Oxford District Probate Registry, <br />Combined Court Building, <br />St Aldates, <br />Oxford OX1 1LY</p>
            </div>


<div class="form-group">
<fieldset>

    <legend class="visually-hidden">I understand that I need to sign the back of the will (and any codicils) before sending my documents</legend>

<!--  <div class="multiple-choice">
    <input id="sentDocuments" name="sentDocuments" type="checkbox" value="true">

    <label for="sentDocuments">I understand that I need to sign the back of the will (and any codicils) before sending my documents
    </label>
 </div>   -->

</fieldset>
</div>
        <div class="inline" style="padding-bottom: 40px;">
          <a href="public/images/document-list.pdf" target="_blank"><i class="icon icon-file-download"></i>
          <span style="padding-left:10px;">Download your document checklist</span></a>
        </div>



            <h2 class="heading-medium">What happens next</h2>
        <div class="text">
            <p>Your application will continue to be processed as soon as the Probate Registry receives your documents.</p>

            <p>Once the documents have been received, the grant of probate will be posted to you within 20 days. You'll also be sent a copy of the grant, plus any additional copies you've ordered.</p>

            <p>We’ll email you if we need any more information. You can also call the Probate Registry on 0300 303 0648 if you have any questions.</p>

            <p><a href="http://www.smartsurvey.co.uk/s/A2LY8/">This is a new service – your feedback will help us to improve it.</a></p>
            <!-- You should: -->


<!-- <ul class="list list-bullet">

        <li>send your documents by registered post as soon as possible</li>

        <li>keep copies of all documents</li>

</ul>


            <h2 class="heading-medium">Receiving your grant of probate</h2>

            <p>You should receive your grant of probate and a copy, plus any extra copies you&rsquo;ve ordered, within 20 days of us receiving your documents.</p>

            <p>We&rsquo;ll email you if we need you provide any more information. Call us on 0300 303 0648 if you have any questions.</p>


        <a href="http://www.smartsurvey.co.uk/s/A2LY8/">This is a new service – your feedback will help us to improve it.</a> -->
      </div>
</div>


<!-- from steel thread -->

<!--         <h1 class="form-title heading-large">Thank you</h1>



            <p>When we’ve received your documents and payment we’ll start to process your application.</p>

            <h2 class="heading-medium">Receiving you grant of probate</h2>

            <p>You should receive your grant of probate and a copy, plus any extra copies you've ordered, within 20 days of us receiving your documents.</p>

            <p>We'll email you if we need you to provide any more information. Call us on 01865 264249 if you have any questions.</p>

        <a href="http://www.smartsurvey.co.uk/s/A2LY8/">This is a new service – your feedback will help us to improve it.</a> -->

    </main>




{% endblock %}
