{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}
<main id="content" role="main">

    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/summary/*">feedback</a> will help us to improve it.</span>
  </p>
</div>



<div class="text  ">

    <h1 class="heading-large">
        What you need to do
    </h1>

    <p>Because a change has been made to your application, the other executors who are applying for probate need to confirm the legal statement again. </p>

    <p>You must now contact the other applying executors and ask them to check and agree the legal statement.</p>

    <p>They can access the legal statement again using the link that was emailed to them when you first added them to your application.</p>


<!--     <p>The executor whose contact details you've updated will be sent an email telling them the legal statement is ready to agree.</p>



    <div class="panel panel-border-wide">
     <p class="text">
        A grant of probate can't be issued until all the executors who are applying agree that the legal statement is correct.
    </p>
</div>
    -->






    <p></p>







</div>

<!--   <div class="text" style="margin-bottom: 20px;">
    <table>
  <caption class="heading-medium">The applying executor's contact details</caption>
  <tbody>
    {% for i in range(0, data['numberOfExecutors']) %}
        {% if (data['applicantFullName'] !== data['executorName' + i] ) %}
            {% if ((data['allExecutorsAlive'] !== 'Yes') and (data['executorIsAlive' + i] !== true)) %}
            {% elif (data['notApplyingReason' + i] === 'reserve') %}
            {% elif (data['notApplyingReason' + i] === 'renounce') %}
            {% elif (data['manageEstate' + i]) %}
                <tr>
                    <td>
                            {{ data['executorName' + i] }}
                            {% if (data['executorNewName' + i].length > 0) %}
                                <br/>also known as {{data['executorNewName' + i]}}
                            {% endif %}
                        </td>
                    <td>{{data['executorEmail' + i]}}</td>
                    <td>{{data['executorPhoneNumber' + i]}}</td>
                    <td><a href="the-executors/contact-details">change</a></td>
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
  </tbody>
</table>
 -->
  </div>

  <a class="button" href="/tasklist/review-and-confirm-waiting" role="button">Continue</a>

</main>



{% endblock %}
