{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

    <main id="content" role="main">

        <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/thankyou">feedback</a> will help us to improve it.</span>
  </p>
</div>
  
  <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="form-title heading-large">[You need to do something....]</h1>

        <p>[Not sure what information you'd need to read here]</p>

        <a class="button" href="check-your-answers" role="button button-start">Start now</a>
        

    </div>
    </div>

    </main>




{% endblock %}
