{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}
<main id="content" role="main">
    

    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/summary/*">feedback</a> will help us to improve it.</span>
  </p>
</div>

    

    <h1 class="heading-large">
        Check your answers
    </h1>
    <p>Check the information below carefully. This will form a record of your application for probate. It will also be stored as a public record, and will be able to be viewed online.</p>

    <table class="check-your-answers form-group">
        <tbody>
            <tr>
                <td colspan="3"><span class="heading-medium">The will</span></td>
            </tr>
            



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Did the person who died leave a will?</div>
            <div class="column-one-half">Yes</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/will-left">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Do you have the original will?</div>
            <div class="column-one-half">Yes</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/will-original">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Is there a date on the will?</div>
            <div class="column-one-half">Yes</div>
        </div>
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">What date was the original will signed and witnessed?</div>
            <div class="column-one-half">1 January 2010</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/will-date">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Were any updates (&lsquo;codicils&rsquo;) made to the will?</div>
            <div class="column-one-half">No</div>
        </div>
    
    
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/will-codicils">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Are you an executor?</div>
            <div class="column-one-half">Yes</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/applicant-executor">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>




            <tr>
                <td colspan="3"><span class="heading-medium">About the executors</span></td>
            </tr>
            



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">First name(s)</div>
            <div class="column-one-half">ak</div>
        </div>
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Last name(s)</div>
            <div class="column-one-half">williams</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/applicant-name">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Phone number</div>
            <div class="column-one-half">07971656975</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/applicant-phone">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">What is your address?</div>
            <div class="column-one-half">1 George Peabody Street London E13 9DE</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/applicant-address">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>






<td colspan="3"><span class="heading-small">Other executors you&rsquo;ve told us about</span></td>
<tr>
    <td colspan="2">
        <div class="grid-row">
            <div class="column-one-half">
                <span class="heading-small">Executor</span>
            </div>
            <div class="column-one-half">
                <span class="heading-small">Are they applying?</span>
            </div>
        </div>
        
        
        
        
        <div class="grid-row">
            <div class="column-one-half">aka williams</div>
            <div class="column-one-half">
                
                    
                    
                    No - This executor died (after the person who has died). 
                
            </div>
        </div>
        
        
    </td>
    <td class="change-answer">
        
        <a href="/other-executors">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>


            <tr>
                <td colspan="3"><span class="heading-medium">About the person who died</span></td>
            </tr>
            



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">First name(s)</div>
            <div class="column-one-half">arthur</div>
        </div>
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Last name(s)</div>
            <div class="column-one-half">williams</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-name">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Did the person who died have assets in another name?</div>
            <div class="column-one-half">Yes</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-alias">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>





<tr>
    <td colspan="2">
        <div class="grid-row">
            <div class="column-one-half">Names used by the deceased</div>
            <div class="column-one-half">
            
                <div class="grid-row">
                    <div class="column-one-half">arthurius williams</div>
                </div>
            
            </div>  
        </div>
    </td>
    <td class="change-answer">
        
        <a href="/other-names">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>







<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Did arthur williams get married or enter into a civil partnership after the date stated on the will?</div>
            <div class="column-one-half">Yes</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-married">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">What was the date that they died?</div>
            <div class="column-one-half">1 January 2018</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-dod">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">What was their date of birth?</div>
            <div class="column-one-half">1 January 1930</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-dob">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">At the time of their death did the person who died:</div>
            <div class="column-one-half">intend to return to England or Wales to live (domicile) permanently</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-domicile">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>








<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">What was the permanent address at the time of their death?</div>
            <div class="column-one-half">1 George Peabody Street London E13 9DE</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/deceased-address">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>



            <tr>
                <td colspan="3"><span class="heading-medium">Inheritance tax</span></td>
            </tr>
            



<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Was an inheritance tax form filled in online, or on paper?</div>
            <div class="column-one-half">Online (an estate report was filled in)</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/iht-method">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>
















<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Inheritance tax identifier (IHT)</div>
            <div class="column-one-half">12334567</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/iht-identifier">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>







<tr>
    <td colspan="2">
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Gross value of the estate in &pound;</div>
            <div class="column-one-half">1000000</div>
        </div>
    
    
    
    
        <div class="grid-row">
            <div class="column-one-half">Net value of the estate in &pound;</div>
            <div class="column-one-half">10000</div>
        </div>
    
    
    </td>
    <td class="change-answer">
        
            
            <a href="/iht-value">Change<span class="visuallyhidden">Change</span></a>
        
    </td>
</tr>



        </tbody>
    </table>

    <div class="form-group">
        
        <p><a href="/tasklist/review-and-confirm" class="button button-start">Continue</a></p>
        
    </div>
</main>



{% endblock %}
